<div class="layout-px-spacing h-100">
  <div class="row h-100" style="min-height: 100vh;">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="widget bg-white h-100">
            <div class="widget-header">
            <div
            class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
            <div>
              <nav class="custom-breadcrum">
                  <ol class="breadcrumb justify-content-center justify-content-sm-start" >
                      <li class="breadcrumb-item">
                      <a routerlink="/dashboard" routerLink="/dashboard">Home</a>
                      </li>
                      <li aria-current="page" class="breadcrumb-item active">
                      Balance Transfer Leads
                      </li>
                  </ol>
              </nav>
              <h1>Balance Transfer Leads</h1>

            </div>
            <a routerLink="../balance-transfer-leads/add-update/0"><button class="btn btn-primary"><i class="fa fa-add mr-2"></i>New Lead</button></a>
            </div>
            </div>

            <div class="row position-relative mx-1">
              <div class="col-12 col-md-4 d-flex justify-content-sm-start justify-content-center">
                <div>
                  <label class="form-inline my-2 pt-3">Results:
                    <select #items (change)="itemsFilter(items.value)"
                      class="form-control ml-2">
                      <option value="">All</option>
                      <option value="2">2</option>
                      <option value="4">4</option>
                      <option value="6">6</option>
                    </select></label>
                </div>
              </div>
              <div class="col-12 col-md-8 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3">
                <form [formGroup]="selectedForm" class="form-inline my-2 pt-3 my-lg-0">

                  <input #query (keyup)="filter(query.value)" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <select id="inputState" class="form-control" formControlName="selectCategory" (change)="searchedCategory()">
                    <option value="" selected>Select Product</option>
                    <option value="approved">Approved</option>
                    <option value="pending">Pending</option>
                    <option value="rejected">Rejected</option>
                  </select>
                </form>
              </div>
            </div>

            <div class="m-3">
              <div class="table-responsive table-striped table-shadow">
                <table class="table">
                  <thead class="text-white">
                    <tr>
                      <th>Lead Id</th>
                      <th>Name</th>
                      <th>Amount</th>
                      <th>Type</th>
                      <th>RM Name</th>
                      <th>Customer Occupation</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let user of filterArray | paginate: { itemsPerPage: rowFilter, currentPage: p }; let i = index ">
                      <td>{{(p-1) * rowFilter + i + 1}}</td>
                      <td>{{user.FullName}}</td>
                      <td>110059</td>
                      <td>Int</td>
                      <td>RM 1</td>
                      <td>Professor</td>
                      <td>Pending / MisMatch / Completed</td>
                      <td>
                        <a
                        class="booking"
                        [routerLink]="['approval', user.Id,]">
                          <button class="btn btn-primary">
                            View
                          </button>
                        </a>
                        <!-- <div ngbDropdown class="menu">
                          <button ngbDropdownToggle>
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i
                              >
                            View
                            </button>
                          <div ngbDropdownMenu class="sub-menu">
                            <a ngbDropdownItem [routerLink]="['add-update', user.Id]" class="edit"><i class="fas fa-edit pr-1"></i>Edit User</a>
                            <a ngbDropdownItem class="delete"><i class="fas fa-eye pr-1"></i>Delete User</a>
                            <a ngbDropdownItem class="booking" [routerLink]="['detail', user.Id,]"><i class="fas fa-eye pr-1"></i>Details</a>
                            <a ngbDropdownItem data-toggle="modal" data-target="#changeStatus" class="change"><i class="fas fa-book-reader pr-1"></i>Change Status</a>
                            <a ngbDropdownItem data-toggle="modal" data-target="#appointmentBooking" class="booking"><i class="fas fa-calendar-check pr-1"></i>Appointment Booking</a>
                          </div>
                        </div> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="p =$event" class="float-right mt-5"></pagination-controls>
            </div>
      </div>
    </div>
  </div>

  <div class="modal fade" style="margin-top: 5%;" id="changeStatus" data-backdrop="static" data-keyboard="false"
  tabindex="-1" aria-labelledby="changeStatusLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-white">
        <h5 class="modal-title" id="changeStatusLabel">Edit User</h5>
        <!-- <span class="text-success ml-5 pt-1" *ngIf="successMsg">{{successMsg}}</span> -->
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateStatusForm">
          <div class="form-row popup-box">
            <div class="form-group col-md-12">
              <label>Status <strong class="text-danger ml-1">*</strong>
              </label>
              <select
                [class.is-invalid]="updateStatusForm.get('status').invalid && updateStatusForm.get('status').touched"
                formControlName="status" class="form-control">
                <option value="undefined">Select Status</option>
                <option value="new">New</option>
                <option value="pending">Pending</option>
                <option value="completed">Completed</option>
                <option value="rejected">Rejected</option>
              </select>
              <div style="margin-left: 10px;"
                *ngIf="updateStatusForm.get('status').invalid && updateStatusForm.get('status').touched">
                <small *ngIf="updateStatusForm.get('status').errors?.['required']" class="text-danger">Status is
                  required</small>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label>Remark</label>
              <textarea formControlName="remark" placeholder="Remark" rows="3" class="form-control">
                </textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal"> <i class="fas fa-times pr-1"></i>Cancel</button>
        <a (click)="changeStatus()"><button type="button" class="btn btn-look1"><i class="fas fa-check pr-1"></i>Update</button></a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade m-5" style="margin-top: 5%;" id="appointmentBooking" data-backdrop="static" data-keyboard="false"
  tabindex="-1" aria-labelledby="appointmentBookingLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="appointmentBookingLabel"><i class="far fa-clock pr-1"></i>Appointment Booking</h5>
        <!-- <span class="text-success ml-5 pt-1" *ngIf="successMsg">{{successMsg}}</span> -->
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="AppointmentDetailForm">
          <div class="form-row">
            <div class="form-group popup-box col-md-3">
              <label>PinCode <strong class="text-danger ml-1">*</strong>
              </label>
              <input [class.is-invalid]="pinCode.invalid && pinCode.touched" type="text" placeholder="PinCode"
                class="form-control" id="updateStatus" formControlName="pinCode">
              <div style="margin-left: 10px;" *ngIf="pinCode.invalid && pinCode.touched">
                <small *ngIf="pinCode.errors?.['required']" class="text-danger">PinCode is required</small>
              </div>
            </div>
            <div class="form-group popup-box col-md-3">
              <label>Branch <strong class="text-danger ml-1">*</strong>
              </label>
              <select
                [class.is-invalid]="AppointmentDetailForm.get('branch').invalid && AppointmentDetailForm.get('branch').touched"
                formControlName="branch" class="form-control">
                <option value="">Select Status</option>
                <option value="new">New</option>
                <option value="pending">Pending</option>
                <option value="completed">Completed</option>
                <option value="rejected">Rejected</option>
              </select>
              <div style="margin-left: 10px;"
                *ngIf="AppointmentDetailForm.get('branch').invalid && AppointmentDetailForm.get('branch').touched">
                <small *ngIf="AppointmentDetailForm.get('branch').errors?.['required']" class="text-danger">Branch is
                  required</small>
              </div>
            </div>
            <div class="form-group popup-box col-md-3">
              <label>Date of Appointment <strong class="text-danger ml-1">*</strong>
              </label>
              <input
                [class.is-invalid]="AppointmentDetailForm.get('dateOfAppointment').invalid && AppointmentDetailForm.get('dateOfAppointment').touched"
                type="date" placeholder="PinCode" class="form-control" id="updateStatus"
                formControlName="dateOfAppointment">
              <div style="margin-left: 10px;"
                *ngIf="AppointmentDetailForm.get('dateOfAppointment').invalid && AppointmentDetailForm.get('dateOfAppointment').touched">
                <small *ngIf="AppointmentDetailForm.get('dateOfAppointment').errors?.['required']"
                  class="text-danger">Date of Appointment is required</small>
              </div>
            </div>
            <div class="form-group popup-box col-md-3">
              <label>Time of Appointment <strong class="text-danger ml-1">*</strong>
              </label>
              <input
                [class.is-invalid]="AppointmentDetailForm.get('timeOfAppointment').invalid && AppointmentDetailForm.get('timeOfAppointment').touched"
                type="time" class="form-control" formControlName="timeOfAppointment" placeholder="">
              <div style="margin-left: 10px;"
                *ngIf="AppointmentDetailForm.get('timeOfAppointment').invalid && AppointmentDetailForm.get('timeOfAppointment').touched">
                <small *ngIf="AppointmentDetailForm.get('timeOfAppointment').errors?.['required']"
                  class="text-danger">Time of Appointment is required</small>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i class="fas fa-times pr-1"></i>Cancel</button>
        <a (click)="submitAppointmentDetails()">
          <button type="button" class="btn btn-look1"> <i class="fas fa-check pr-1"></i>Update</button></a>
      </div>
    </div>
  </div>
</div>
</div>
