<!-- footer start -->
<!-- <footer class="footer-font"> 
    <div class="container-fluid ">
        <div class="container">
            <div class="row mt-2">
                <div class="col-md-6 mt-2">
                    <p class="copyright">Copyright 2021. Aurigain Consultants Private Limited. All rights reserved.
                    </p>
                </div>
                <div class="col-md-6 mt-2 text-right">
                    <p><a href="https://aurigain.com/policy">Privacy Policy </a> | <a
                            href="https://aurigain.com/terms">
                            Terms of Use</a> |<a href="https://aurigain.com/careers"> Careers </a> | <a
                            href="https://aurigain.com/legal">Legal Disclaimer</a></p>
                </div>
            </div>
            <div class="row mt-0">
                <div class="col-md-6 mt-0 mb-0">
                    <p class="pt-0">
                        <a href="http://www.facebook.com/Aurigainconsultatns/?ref=pages_you_manage" target="_blank"
                            class="fab fa-facebook"></a>
                        <a href="http://twitter.com/@aurigain" target="_blank" class="fab fa-twitter"></a>
                        <a href="https://www.linkedin.com/in/aurigain-cpl-06b237212" target="_blank"
                            class="fab fa-linkedin"></a>
                        <a href="https://www.instagram.com/aurigain_conslutants" target="_blank"
                            class="fab fa-instagram"></a>
                    </p>
                </div>

            </div>
        </div>

    </div>
</footer> -->

<div class="footer-font">
<footer class="">
    <div class="container-fluid">
        <div class="container">
            <div class="row mb-0">
                <div class="col-md-6 mt-2">
                    <p class="copyright">Copyright 2021. Aurigain Consultants Private Limited. All rights reserved.
                    </p>
                </div>
                <div class="col-md-6 mt-2 text-right">
                    <p><a href="#">Privacy Policy </a> | <a
                            href="#">
                            Terms of Use</a> |<a href="#"> Careers </a> | <a
                            href="#">Legal Disclaimer</a></p>
                </div>
            </div>
            <div class="row mt-0">
                <div class="col-md-6 mb-0">
                    <p class="pt-0">
                        <a href="http://www.facebook.com/Aurigainconsultatns/?ref=pages_you_manage" target="_blank"
                            class="fab fa-facebook"></a>
                        <a href="http://twitter.com/@aurigain" target="_blank" class="fab fa-twitter pl-1"></a>
                        <a href="https://www.linkedin.com/in/aurigain-cpl-06b237212" target="_blank"
                            class="fab fa-linkedin pl-1"></a>
                        <a href="https://www.instagram.com/aurigain_conslutants" target="_blank"
                            class="fab fa-instagram pl-1"></a>
                    </p>
                </div>

            </div>
            <div class="col-md-6 mb-0"></div>
        </div>
    </div>

   
</footer>

<div class="mobile-call"><a href="tel:+918010277671"><i class="fas fa-phone" target="blank"></i></a></div>
<div class="whatsapp"><a href="https://api.whatsapp.com/send?phone=918010277671&amp;text=Hi%20" target="blank"><i class="fab fa-whatsapp"></i></a></div>
</div>