  /* footer */
  .footer-font{
   .container-fluid{
    background-color: #16191e;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  p{
    color: #778191;
    margin: 0 0 26px;
    line-height: 1.6;
    font-weight: 400;
  }
  p:last-child {
    margin-bottom: 0px;
}
   .container-fluid a{
    color: #f51f8a;
  }
  
   .container-fluid a:hover{
    color: #15549a;
    text-decoration: none;
  }

  .mobile-call .fas {
    position: fixed;
    bottom: 13px;
    z-index: 999999;
    left: 20px;
}

.mobile-call > a > .fas{
    height: 50px;
    width: 50px;
    background: #0b6590;
    display: inline-block;
    color: #fff;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}

.apply {
    position: fixed;
    bottom: 110px;
    z-index: 999999;
    right: 20px;
}

.apply > a {
    height: 40px;
    width: 40px;
    background: #15549a;
    display: inline-block;
    color: #fff;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    line-height: 38px;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}

      @media (min-width:1000px) {
      .mobile-call {
   display:none;
}
}

.whatsapp {
  position: fixed;
  bottom: 70px;
  z-index: 999998;
  right: 20px;
}

.whatsapp > a {
  height: 40px;
  width: 40px;
  background: #5bd234;
  display: inline-block;
  color: #fff;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  line-height: 38px;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

    @media (min-width:1000px) {
    .mobile-call {
 display:none;
}
}
  }