/* footer */
footer .container-fluid{
    background-color: black;
    /* height: 80px; */
  }
  footer .container-fluid a{
    color: #f51f8a;
  }
  
  footer .container-fluid a:hover{
    color: white;
  }