/* footer */
.footer-font{
   .container-fluid{
    background-color: black;
    /* height: 80px; */
  }
  p{
    color: #778191;
    font-size: 14px;
  }
   a{
    color: #f51f8a;
    text-decoration: none;
    padding-left: 5px;
  }
  
   a:hover{
    color: white;
    text-decoration: none;
  }
}
