
    <div class="page-header7">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="list">
                        <ol class="">
                            <li><a href="https://aurigain.com">Home </a></li>
                            <li class="slash">/</li>
                            <li class="active text-white">{{navText | uppercase}}</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="partner" *ngIf="partner">
        <div class="container mt-3 mb-5 mt30">
            <div class="row bgcolor justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                    <div class="col-xl-12 col-lg-12 col-sm-12 col-12 text-center mt-3">
                        <h1>Become our Partner</h1>
                        <p>Beome our partner and earn. To know more send us your details.</p>
                    </div>
                    <div class="m-5">
                        <form method="POST" action="https://aurigain.com/login">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    
                                    <input type="text" class="form-control" id="inputName" placeholder="Name" value=""   required>
                                </div>
                                <div class="form-group col-md-6">
                                    
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" value=""   required>
                                </div>
                            </div>
                            <div class="form-group">
                                
                                <input type="text" class="form-control" id="inputphone" placeholder="Phone" value=""   required>
                            </div>
                            <div class="form-group">
                                
                                <textarea type="text" class="form-control" id="inputMessage"
                                    placeholder="Message" value=""   required></textarea>
                            </div>
    
                            <div class="form-group row">
                                <div class="col-12 ">
                                    <button type="submit" class="btn btn-primary btn-lg mr-2">Apply</button>
                                                    <a (click)="changeForm()"><button type="button" class="btn btn-primary btn-lg">Join as Agent</button></a>
                                    
                                </div>
                            </div>
    
                        </form>
                    </div>
                    
                </div>


            </div>
        </div>
    </div>

    <div class="partner1" *ngIf="!partner">
        <div class="container mt-3 mt30">
            <div class="row bgcolor justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                    <div class="col-xl-12 col-lg-12 col-sm-12 col-12 text-center mt-3">
                        <h1>Become our Agent</h1>
                    </div>
                    <div class="container">
                        <div class="m-5">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="basic-tab" data-toggle="tab" href="#nav-basic" role="tab" aria-controls="nav-basic" aria-selected="true">Basic Details</a>
                                    
                                    <a class="nav-item nav-link" id="nav-address-tab" data-toggle="tab" href="#nav-address" role="tab" aria-controls="nav-address" aria-selected="false">Address Details</a>
                                    
                                    <a class="nav-item nav-link" id="nav-kyc-tab" data-toggle="tab" href="#nav-kyc" role="tab" aria-controls="nav-kyc" aria-selected="false">KYC & Qualification Details</a>
                                    
                                    <a class="nav-item nav-link" id="nav-bank-tab" data-toggle="tab" href="#nav-bank" role="tab" aria-controls="nav-bank" aria-selected="false">Bank & Nominee Details</a>
                                    
                                    <a class="nav-item nav-link" id="nav-referral-tab" data-toggle="tab" href="#nav-referral" role="tab" aria-controls="nav-referral" aria-selected="false">Referral Code</a>
                                </div>
                              </nav>
                              <div class="tab-content  bg-light p-5" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-basic" role="tabpanel" aria-labelledby="nav-basic-tab">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                
                                                <input type="text" class="form-control" id="inputName" placeholder="Full Name" value=""   required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                
                                                <input type="email" class="form-control" id="inputPhone" placeholder="Phone" value=""   required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                
                                                <input type="text" class="form-control" id="inputFathername" placeholder="Father Name" value=""   required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                
                                                <input type="text" class="form-control" id="inputdob" placeholder="Date of Birth" value="Date of Birth"   required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                
                                                <input type="text" class="form-control" id="inputName" placeholder="email" value="Email"   required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                  <option>Select Gender</option>
                                                  <option>Male</option>
                                                  <option>Female</option>
                                                  <option>Other</option>
                                                  
                                                </select>
                                              </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12 mt-2">
                                                <button type="submit" class="btn btn-primary">Next</button>
                                            </div>
                                        </div>
                
                                    </form>
                                </div>

                                <div class="tab-pane fade" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                
                                                <input type="text" class="form-control" id="inputLine1" placeholder="Address Line 1" value=""   required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                
                                                <input type="email" class="form-control" id="inputLine2" placeholder="Address Line 2" value=""   required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                
                                                <input type="text" class="form-control" id="inputPincode" placeholder="Pincode" value=""   required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                
                                                <input type="text" class="form-control" id="inputdistrict" placeholder="District" value="Date of Birth"   required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                
                                                <input type="text" class="form-control" id="inputEmail" placeholder="City" value=""   required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                
                                                <input type="text" class="form-control" id="inputState" placeholder="State" value=""   required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12 mt-2">
                                                <button type="submit" class="btn btn-primary">Next</button>
                                            </div>
                                        </div>
                
                                    </form>
                                </div>

                                <div class="tab-pane fade" id="nav-kyc" role="tabpanel" aria-labelledby="nav-kyc-tab">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <select class="form-control" id="exampleFormControlSelect1">
                                              <option>Select Qualification</option>
                                              <option>10th</option>
                                              <option>12th</option>
                                              <option>Graduate</option>
                                              <option>Post Graduate</option>
                                              <option>Other</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            
                                            <input type="text" class="form-control" id="inputAadhar" placeholder="AADHAR Number Name" value=""   required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            
                                            <input type="email" class="form-control" id="inputPan" placeholder="PAN Number" value=""   required>
                                        </div>
                                        
                                        <div class="form-group col-md-12">
                                            <label class="control-label"> Profile picture</label>
                                            <div class="input-group mb-2">

                                                  <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                  </div>
                                              </div>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="control-label"> AAdhar Card (Front)</label>
                                            <div class="input-group mb-2">

                                                  <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                  </div>
                                              </div>
                                        </div>
                                        
                                        <div class="form-group col-md-12">
                                            <label class="control-label"> AAdhar Card (Back)</label>
                                            <div class="input-group mb-2">

                                                  <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                  </div>
                                              </div>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="control-label"> Pan Card</label>
                                            <div class="input-group mb-2">

                                                  <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                  </div>
                                              </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12 mt-2">
                                            <button type="submit" class="btn btn-primary">Next</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="nav-bank" role="tabpanel" aria-labelledby="nav-bank-tab">
                                    <div class="form-row">
                                        
                                        <div class="form-group col-md-6">
                                            
                                            <input type="text" class="form-control" id="inputBank-name" placeholder="Bank Name" value=""   required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            
                                            <input type="email" class="form-control" id="inputAccount" placeholder="Account Number" value=""   required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            
                                            <input type="email" class="form-control" id="inputifsc" placeholder="IFSC Code" value=""   required>
                                        </div>
                                        
                                        <div class="form-group col-md-12">
                                            <label class="control-label"> CANCELLED CHEQUE</label>
                                            <div class="input-group mb-2">

                                                  <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                  </div>
                                              </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            
                                            <input type="email" class="form-control" id="inputName-nominee" placeholder="Name of Nominee" value=""   required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            
                                            <input type="email" class="form-control" id="inputRelation" placeholder="Relation with Nominee" value=""   required>
                                        </div>
                                        
                                        

                                        
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12 mt-2">
                                            <button type="submit" class="btn btn-primary">Next</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="nav-referral" role="tabpanel" aria-labelledby="nav-referral-tab">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                
                                                <input type="text" class="form-control" id="inputReferral" placeholder=" Enter Referral Code" value=""   required>
                                            </div>                      
                                        </div>
                                        <!-- <div class="form-group row">
                                            <div class="col-12 mt-2">
                                                <button type="submit" class="btn btn-primary">Next</button>
                                            </div>
                                        </div> -->
                
                                    </form>
                                </div>
                              </div>
                        </div>
                        
                    </div>
                </div>


            </div>
        </div>
    </div>