
    <div class="page-header7">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="list">
                        <ol class="">
                            <li><a href="https://aurigain.com">Home </a></li>
                            <li class="slash">/</li>
                            <li class="active text-white">Partner Us</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="partner">
        <div class="container mt-3 mt30">
            <div class="row bgcolor justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                    <div class="col-xl-12 col-lg-12 col-sm-12 col-12 text-center mt-3">
                        <h1>Become our Partner</h1>
                        <p>Beome our partner and earn. To know more send us your details.</p>
                    </div>
                    <form method="POST" action="https://aurigain.com/login">
                        <div class="form-row mt-5">
                            <div class="form-group col-md-6">
                                
                                <input type="text" class="form-control" id="inputName" placeholder="Name" value=""   required>
                            </div>
                            <div class="form-group col-md-6">
                                
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email" value=""   required>
                            </div>
                        </div>
                        <div class="form-group">
                            
                            <input type="text" class="form-control" id="inputphone" placeholder="Phone" value=""   required>
                        </div>
                        <div class="form-group">
                            
                            <textarea type="text" class="form-control" id="inputMessage"
                                placeholder="Message" value=""   required></textarea>
                        </div>

                        <div class="form-group row">
                            <div class="col-12 ">
                                <button type="submit" class="btn btn-primary mr-2">Apply</button>
                                                <a href="https://aurigain.com/becomeagent"><button type="button" class="btn btn-primary">Join as Agent</button></a>
                                
                            </div>
                        </div>

                    </form>
                </div>


            </div>
        </div>
    </div>
