<div class="layout-px-spacing h-100">
  <div class="row h-100" style="min-height: 100vh;">
    <div class="col-md-12">
        <div class="widget bg-white h-100">
            <div class="widget-header">
            <div
            class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
            <div>
                <nav class="custom-breadcrum">
                    <ol class="breadcrumb justify-content-center justify-content-sm-start" >
                        <li class="breadcrumb-item">
                            <a routerlink="/dashboard" routerLink="/dashboard">Home</a>
                          </li>
                          <li class="breadcrumb-item">
                              <a routerLink="/dashboard/balance-transfer-leads"> Balance Transfer Lead</a
                                  >
                              </li>
                              <li aria-current="page" class="breadcrumb-item active">
                                  Approval
                              </li>
                          </ol>
                      </nav>
                      <h1>Balance Transfer Approval Loan Details</h1>
            </div>
            </div>
            </div>

            <div class="mx-5 my-3">
            <div class="container pl-3">
              <div class="mb-4" ><h5> <i class="fa" [ngClass]="{'fa-minus': currentStep === 1, 'fa-plus': currentStep !==1}"></i> Personal Detail</h5></div>
              <div class="form-div p-4" *ngIf="currentStep === 1">
                <div class="container inner-form-div">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mt-4 text-center">Name</div>
                    </div>
                    <div class="col-md-4">
                      <div class="my-3 text-center">
                        <a (click)="loadImage(dynamicImage)" href="#" data-toggle="modal" aria-label="screens" data-target="#mScreenshot">
                        <button class="form-div w-100">
                          POI
                        </button>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="m-3">
                        <div class="form-group">
                          <div class="row gender-row">
                            <label  class="radio-inline">
                              <input type="radio" value="ok" name="name" checked>Ok
                            </label>
                            <label  class="radio-inline">
                              <input type="radio" value="female" name="name" >Not Ok
                            </label>
                          </div>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary">Add Remark</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mt-4 text-center">Address</div>
                    </div>
                    <div class="col-md-4">
                      <div class="my-3 text-center">
                        <a (click)="loadImage(dynamicImage)" href="#" data-toggle="modal" aria-label="screens" data-target="#mScreenshot">
                          <button class="form-div w-100">
                          POA
                        </button>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="m-3">
                        <div class="form-group">
                          <div class="row gender-row">
                            <label  class="radio-inline">
                              <input type="radio" value="ok" name="address" checked>Ok
                            </label>
                            <label  class="radio-inline">
                              <input type="radio" value="female" name="address" >Not Ok
                            </label>
                          </div>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary">Add Remark</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mt-4 text-center">Customer Photo</div>
                    </div>
                    <div class="col-md-4">
                      <div class="my-3">
                        <div class="form-div text-center">
                          <img src="https://thispersondoesnotexist.com/image" width="150" height="150">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="m-3">
                        <div class="form-group">
                          <div class="row gender-row">
                            <label  class="radio-inline">
                              <input type="radio" value="ok" name="photo" checked>Ok
                            </label>
                            <label  class="radio-inline">
                              <input type="radio" value="female" name="photo" >Not Ok
                            </label>
                          </div>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary">Add Remark</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-2">
                  <button class="btn btn-primary mr-3" (click)="stepUp()">Save & Next</button>
                </div>
              </div>

              <div class="my-4"><h5> <i class="fa" [ngClass]="{'fa-minus': currentStep === 2, 'fa-plus': currentStep !==2}"></i> Existing LoanDetail</h5></div>
              <div class="form-div p-4" *ngIf="currentStep === 2">
                <div class="container inner-form-div">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mt-4 text-center">Name</div>
                    </div>
                    <div class="col-md-4">
                      <div class="my-3 text-center">
                        <a (click)="loadImage(dynamicImage)" href="#" data-toggle="modal" aria-label="screens" data-target="#mScreenshot">
                        <button class="form-div w-100">
                          POI
                        </button>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="m-3">
                        <div class="form-group">
                          <div class="row gender-row">
                            <label  class="radio-inline">
                              <input type="radio" value="ok" name="photoOk" checked>Ok
                            </label>
                            <label  class="radio-inline">
                              <input type="radio" value="female" name="photoNotOK" >Not Ok
                            </label>
                          </div>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary">Add Remark</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mt-4 text-center">Address</div>
                    </div>
                    <div class="col-md-4">
                      <div class="my-3 text-center">
                        <a (click)="loadImage(dynamicImage)" href="#" data-toggle="modal" aria-label="screens" data-target="#mScreenshot">
                          <button class="form-div w-100">
                          POA
                        </button>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="m-3">
                        <div class="form-group">
                          <div class="row gender-row">
                            <label  class="radio-inline">
                              <input type="radio" value="ok" name="gender" checked>Ok
                            </label>
                            <label  class="radio-inline">
                              <input type="radio" value="female" name="gender" >Not Ok
                            </label>
                          </div>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary">Add Remark</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mt-4 text-center">Customer Photo</div>
                    </div>
                    <div class="col-md-4">
                      <div class="my-3">
                        <div class="form-div text-center">
                          <img src="https://thispersondoesnotexist.com/image" width="150" height="150">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="m-3">
                        <div class="form-group">
                          <div class="row gender-row">
                            <label  class="radio-inline">
                              <input type="radio" value="ok" name="gender" checked>Ok
                            </label>
                            <label  class="radio-inline">
                              <input type="radio" value="female" name="gender" >Not Ok
                            </label>
                          </div>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary">Add Remark</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-2">
                  <button class="btn btn-primary mr-3" (click)="stepUp()">Save & Next</button>
                  <button class="btn btn-outline-primary" (click)="stepDown()">Back</button>
                </div>
              </div>
              <div class="my-4" ><h5> <i class="fa" [ngClass]="{'fa-minus': currentStep === 3, 'fa-plus': currentStep !==3}"></i> Fund Transfer Detail</h5></div>
              <div class="form-div p-4" *ngIf="currentStep === 3">
                <div class="container inner-form-div">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mt-4 text-center">Name</div>
                    </div>
                    <div class="col-md-4">
                      <div class="my-3 text-center">
                        <a (click)="loadImage(dynamicImage)" href="#" data-toggle="modal" aria-label="screens" data-target="#mScreenshot">
                        <button class="form-div w-100">
                          POI
                        </button>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="m-3">
                        <div class="form-group">
                          <div class="row gender-row">
                            <label  class="radio-inline">
                              <input type="radio" value="ok" name="gender" checked>Ok
                            </label>
                            <label  class="radio-inline">
                              <input type="radio" value="female" name="gender" >Not Ok
                            </label>
                          </div>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary">Add Remark</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mt-4 text-center">Address</div>
                    </div>
                    <div class="col-md-4">
                      <div class="my-3 text-center">
                        <a (click)="loadImage(dynamicImage)" href="#" data-toggle="modal" aria-label="screens" data-target="#mScreenshot">
                          <button class="form-div w-100">
                          POA
                        </button>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="m-3">
                        <div class="form-group">
                          <div class="row gender-row">
                            <label  class="radio-inline">
                              <input type="radio" value="ok" name="gender" checked>Ok
                            </label>
                            <label  class="radio-inline">
                              <input type="radio" value="female" name="gender" >Not Ok
                            </label>
                          </div>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary">Add Remark</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mt-4 text-center">Customer Photo</div>
                    </div>
                    <div class="col-md-4">
                      <div class="my-3">
                        <div class="form-div text-center">
                          <img src="https://thispersondoesnotexist.com/image" width="150" height="150">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="m-3">
                        <div class="form-group">
                          <div class="row gender-row">
                            <label  class="radio-inline">
                              <input type="radio" value="ok" name="gender" checked>Ok
                            </label>
                            <label  class="radio-inline">
                              <input type="radio" value="female" name="gender" >Not Ok
                            </label>
                          </div>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary">Add Remark</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-2">
                  <button class="btn btn-primary mr-3" (click)="stepUp()">Save & Next</button>
                  <button class="btn btn-outline-primary" (click)="stepDown()">Back</button>
                </div>
              </div>
              <div class="my-4" ><h5> <i class="fa" [ngClass]="{'fa-minus': currentStep === 4, 'fa-plus': currentStep !==4}"></i> Agreement</h5></div>
              <div class="form-div p-4" *ngIf="currentStep === 4">
                <div class="container inner-form-div">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mt-4 text-center">Name</div>
                    </div>
                    <div class="col-md-4">
                      <div class="my-3 text-center">
                        <a (click)="loadImage(dynamicImage)" href="#" data-toggle="modal" aria-label="screens" data-target="#mScreenshot">
                        <button class="form-div w-100">
                          POI
                        </button>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="m-3">
                        <div class="form-group">
                          <div class="row gender-row">
                            <label  class="radio-inline">
                              <input type="radio" value="ok" name="gender" checked>Ok
                            </label>
                            <label  class="radio-inline">
                              <input type="radio" value="female" name="gender" >Not Ok
                            </label>
                          </div>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary">Add Remark</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mt-4 text-center">Address</div>
                    </div>
                    <div class="col-md-4">
                      <div class="my-3 text-center">
                        <a (click)="loadImage(dynamicImage)" href="#" data-toggle="modal" aria-label="screens" data-target="#mScreenshot">
                          <button class="form-div w-100">
                          POA
                        </button>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="m-3">
                        <div class="form-group">
                          <div class="row gender-row">
                            <label  class="radio-inline">
                              <input type="radio" value="ok" name="gender" checked>Ok
                            </label>
                            <label  class="radio-inline">
                              <input type="radio" value="female" name="gender" >Not Ok
                            </label>
                          </div>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary">Add Remark</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mt-4 text-center">Customer Photo</div>
                    </div>
                    <div class="col-md-4">
                      <div class="my-3">
                        <div class="form-div text-center">
                          <img src="https://thispersondoesnotexist.com/image" width="150" height="150">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="m-3">
                        <div class="form-group">
                          <div class="row gender-row">
                            <label  class="radio-inline">
                              <input type="radio" value="ok" name="gender" checked>Ok
                            </label>
                            <label  class="radio-inline">
                              <input type="radio" value="female" name="gender" >Not Ok
                            </label>
                          </div>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary">Add Remark</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-2">
                  <button class="btn btn-primary mr-3" (click)="stepUp()">Save & Next</button>
                  <button class="btn btn-outline-primary" (click)="stepDown()">Back</button>
                </div>
              </div>
              <div class="my-4" ><h5> <i class="fa" [ngClass]="{'fa-minus': currentStep === 5, 'fa-plus': currentStep !==5}"></i> Appointment</h5></div>
              <div class="form-div p-4" *ngIf="currentStep === 5">
                <div class="container inner-form-div">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mt-4 text-center">Name</div>
                    </div>
                    <div class="col-md-4">
                      <div class="my-3 text-center">
                        <a (click)="loadImage(dynamicImage)" href="#" data-toggle="modal" aria-label="screens" data-target="#mScreenshot">
                        <button class="form-div w-100">
                          POI
                        </button>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="m-3">
                        <div class="form-group">
                          <div class="row gender-row">
                            <label  class="radio-inline">
                              <input type="radio" value="ok" name="gender" checked>Ok
                            </label>
                            <label  class="radio-inline">
                              <input type="radio" value="female" name="gender" >Not Ok
                            </label>
                          </div>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary">Add Remark</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mt-4 text-center">Address</div>
                    </div>
                    <div class="col-md-4">
                      <div class="my-3 text-center">
                        <a (click)="loadImage(dynamicImage)" href="#" data-toggle="modal" aria-label="screens" data-target="#mScreenshot">
                          <button class="form-div w-100">
                          POA
                        </button>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="m-3">
                        <div class="form-group">
                          <div class="row gender-row">
                            <label  class="radio-inline">
                              <input type="radio" value="ok" name="gender" checked>Ok
                            </label>
                            <label  class="radio-inline">
                              <input type="radio" value="female" name="gender" >Not Ok
                            </label>
                          </div>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary">Add Remark</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="mt-4 text-center">Customer Photo</div>
                    </div>
                    <div class="col-md-4">
                      <div class="my-3">
                        <div class="form-div text-center">
                          <img src="https://thispersondoesnotexist.com/image" width="150" height="150">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="m-3">
                        <div class="form-group">
                          <div class="row gender-row">
                            <label  class="radio-inline">
                              <input type="radio" value="ok" name="gender" checked>Ok
                            </label>
                            <label  class="radio-inline">
                              <input type="radio" value="female" name="gender" >Not Ok
                            </label>
                          </div>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary">Add Remark</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-2">
                  <button class="btn btn-primary mr-3" (click)="stepUp()">Save & Next</button>
                  <button class="btn btn-outline-primary" (click)="stepDown()">Back</button>
                </div>
              </div>
            </div>
              <div class="text-center">
                <a  href="javascript:void(0)" data-toggle="modal" aria-label="screens" data-target="#review">
                  <button class="btn btn-primary mr-3">
                    Review & Submit
                  </button>
                </a>
                <button class="btn btn-outline-primary">
                  Cancel
                </button>

              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="modal fade" id="mScreenshot">
    <div class="modal-dialog modal-lg">
    <div class="modal-content" style="top:50px;">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let img of image?.url; let i as index">
        <div class="modal-header">
          <p>Detail of Image comes here...</p>
          <button style="z-index: 10;" type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <img [src]="img" alt="Random first slide" class="img-fluid w-100">
        </div>
      </ng-template>
    </ngb-carousel>

    </div>
    </div>
  </div>
  <div class="modal fade" id="review">
    <div class="modal-dialog modal-lg">
    <div class="modal-content" style="top:50px;">
      <div class="modal-header">
        Something will come here...
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
              <td>Personal Detail</td>
              <td>Ok</td>
              <td>Not Ok</td>
            </tr>
            <tr>

              <td>Existing Loan Detail</td>
              <td>Ok</td>
              <td>Not Ok</td>
            </tr>
            <tr>

              <td>Fund Transfer Detail</td>
              <td>Ok</td>
              <td>Not Ok</td>
            </tr>
          </tbody>

        </table>
        <div class="text-center">
          <a routerLink="final-approval"> <!--Change the ID with dynamic Id-->
            <button class="btn btn-primary mr-3">
              Save & Submit
            </button>
          </a>
          <button class="btn btn-outline-primary" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>

    </div>
    </div>
  </div>
  <!-- <div class="modal fade" id="mScreenshot">
    <div class="modal-dialog">
    <div class="modal-content" style="top:50px; left:25%">
    <div class="modal-header">
    <p class="modal-title">IMAGE NAME</p>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
    <div id="carousel-screenshots" class="carousel slide" data-ride="carousel" data-interval="10000">
    <div class="carousel-inner">
    <div class="carousel-item active" *ngFor="let img of image?.url">
    <p><img [src]="img" width="800" height="601" class="img-fluid lazyload" alt="run the tool"></p>

    </div>
    </div>
    <ul class="carousel-indicators">
    <li data-target="#carousel-screenshots" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-screenshots" data-slide-to="1"></li>
    <li data-target="#carousel-screenshots" data-slide-to="2"></li>
    <li data-target="#carousel-screenshots" data-slide-to="3"></li>
    </ul>
    <a class="carousel-control-prev" href="#carousel-screenshots" aria-label="screens pre" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next" aria-label="screens next" href="#carousel-screenshots" data-slide="next"> <span class="carousel-control-next-icon"></span> </a> </div>
    </div>
    </div>
    </div>
    </div> -->
</div>
