
<div class="box bg-white h-100">
    <div class="widget-header">
        <div class="row ">
        <div class="m-5">
          <nav>
              <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                  <a routerlink="/dashboard" href="/dashboard">Home</a>
                  </li>
                  <li class="breadcrumb-item">
                  <a href="javascript:void(0)"> Loan Application</a
                  >
                  </li>
                  <li aria-current="page" class="breadcrumb-item active">
                  View Applications
                  </li>
              </ol>
          </nav>
          <h1>Gold Loan Fresh Lead</h1>
            
        </div>
        </div>
    </div>

    <div class="row m-4">
        <div class="col-sm-3">
        <div class="card mb-4 shadow">
            <div class="card-body">
            <span class="hanging-card">Pending For Approval</span>
            <div class="intercal-card text-center">
                <h5 class="card-title mt-4 ">Vivek Kumar</h5>
                <p>BT - #5555</p>
                <p class="h5">$1500</p>
                <p>Agent - Santosh</p>
            <a href="#" class="btn btn-primary">Update Status</a>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-3">
        <div class="card mb-4 shadow">
            <div class="card-body">
            <span class="hanging-card">Pending For Approval</span>
            <div class="intercal-card text-center">
                <h5 class="card-title mt-4 ">Vivek Kumar</h5>
                <p>BT - #5555</p>
                <p class="h5">$1500</p>
                <p>Agent - Santosh</p>
            <a href="#" class="btn btn-primary">Update Status</a>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-3">
        <div class="card mb-4 shadow">
            <div class="card-body">
            <span class="hanging-card">Pending For Approval</span>
            <div class="intercal-card text-center">
                <h5 class="card-title mt-4 ">Vivek Kumar</h5>
                <p>BT - #5555</p>
                <p class="h5">$1500</p>
                <p>Agent - Santosh</p>
            <a href="#" class="btn btn-primary">Update Status</a>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-3">
        <div class="card mb-4 shadow">
            <div class="card-body">
            <span class="hanging-card">Pending For Approval</span>
            <div class="intercal-card text-center">
                <h5 class="card-title mt-4 ">Vivek Kumar</h5>
                <p>BT - #5555</p>
                <p class="h5">$1500</p>
                <p>Agent - Santosh</p>
            <a href="#" class="btn btn-primary">Update Status</a>
            </div>
            </div>
        </div>
        </div>
        
    </div>
</div>