
.bg-white{
    background-color: #fff;
}

.box{
    margin: 10px;
}

.breadcrumb{
    background-color: #fff;
}

.card{
    border-radius: 5px;
}

.hanging-card{
    position: absolute;
    background-color: rgb(247, 196, 30);
    color: #fff;
    top: 0;
    right: 0;
    padding: 3px;
}