<div class="loan-application">
    <div class="container bg-white mt-3 mb-5">
        <div class="row">
            <div class="container mt-5">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="top-heading"> view loan application</h3>
                    <div class="pt-1"><strong class="sub-heading"> loan amount</strong> -
                        <span class="font-weight-bold"> 5,00,000</span>
                    </div>
                    <div class="pt-1"><strong class="sub-heading"> tenure</strong> -
                        <span class="font-weight-bold"> 1 year</span>
                    </div>
                    <div class="pt-1"><strong class="sub-heading"> interest</strong> -
                        <span class="font-weight-bold"> 8%</span>
                    </div>
                    <div class="pt-3">
                        <button type="button" class="btn btn-warning text-white button-text">pending disbursement</button>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="m-2">
                                <div id="accordion">
                                    <div class="card">
                                      <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                          <button class="btn btn-link  text-size" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fas fa-caret-down"></i>
                                            Personal Details
                                          </button>
                                        </h2>
                                      </div>
                                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <small>
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Full Name</span>
                                                    <span class="text-muted">Sandhya Narayan</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Father's Name</span>
                                                    <span class="text-muted">Narayan</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Date of Birth</span>
                                                    <span class="text-muted">25 Oct 1989</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Gender</span>
                                                    <span class="text-muted"> Female</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Mobile Number</span>
                                                    <span class="text-muted"> 9189997679</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Alternate Mobile Number</span>
                                                    <span class="text-muted"> 909008770</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Amount of loan required</span>
                                                    <span class="text-muted"><span class="font-weight-bold">₹ </span> 5,00,000</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Purpose of Loan</span>
                                                    <span class="text-muted"> Medical Treatment</span>
                                                </div>
                                            </small>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="m-2">
                                <div id="accordion2">
                                    <div class="card">
                                      <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                          <button class="btn btn-link  text-size" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><i class="fas fa-caret-down"></i>
                                            Document Details
                                          </button>
                                        </h2>
                                      </div>
                                      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion2">
                                        <div class="card-body">
                                            <small>
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">KYC Document Type</span>
                                                    <span class="text-muted sub-heading">aadhar card</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Document Number</span>
                                                    <span class="text-muted">4444 9799 8000</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">PAN Number</span>
                                                    <span class="text-muted sub-heading">bba8989h</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Address Line 1</span>
                                                    <span class="text-muted"> NO 120, Venkata Puram</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Address Line 2</span>
                                                    <span class="text-muted"> Saidapet, Chennai</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">District</span>
                                                    <span class="text-muted"> Kanchipuram</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">State</span>
                                                    <span class="text-muted"> Tamil Nadu</span>
                                                </div>
                                            </small>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="m-2">
                                <div id="accordion3">
                                    <div class="card">
                                      <div class="card-header" id="headingThree">
                                        <h2 class="mb-0">
                                          <button class="btn btn-link  text-size" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"><i class="fas fa-caret-down"></i>
                                            Jewellery Details
                                          </button>
                                        </h2>
                                      </div>
                                      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion3">
                                        <div class="card-body">
                                            <small>
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Preferred Loan Tenure</span>
                                                    <span class="text-muted">1 Year</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Type of Jewellery </span>
                                                    <span class="text-muted">Chain</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Quantity of Jewellery</span>
                                                    <span class="text-muted">2</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Weight of Jewellery</span>
                                                    <span class="text-muted"> 50 Grams</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Jewellery Karats</span>
                                                    <span class="text-muted"> 24K</span>
                                                </div>
                                            </small>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-5">
                            <div class="m-2">
                                <div id="accordion4">
                                    <div class="card">
                                      <div class="card-header" id="headingFour">
                                        <h2 class="mb-0">
                                          <button class="btn btn-link  text-size" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"><i class="fas fa-caret-down"></i>
                                            Appointment Details
                                          </button>
                                        </h2>
                                      </div>
                                      <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion4">
                                        <div class="card-body">
                                            <small>
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Bank</span>
                                                    <span class="text-muted sub-heading">icic</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">IFSC Code</span>
                                                    <span class="text-muted sub-heading">icic0000350</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Date of Appointment at Branch</span>
                                                    <span class="text-muted"> 22/09/2021</span>
                                                </div>
                                                <hr class="hr-line">
                                                <div class="d-flex justify-content-between">
                                                    <span class="font-weight-bold">Date of Appointment at Branch</span>
                                                    <span class="text-muted"> 12:30:00</span>
                                                </div>
                                            </small>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
