<!-- <router-outlet></router-outlet> -->

<app-top-nav-bar></app-top-nav-bar>
<div class="wrapper">
    <app-side-bar></app-side-bar>
    
        <div id="content">
    
            
                <nav class="navbar navbar-expand-lg navbar-light bg-light mt-5">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn  btn-outline-info" (click)="sidenavservice.toggleSideNav()">
                            <i class="fa fa-align-left"></i>
                        </button>
                    </div>
                </nav>
                           
            
            <router-outlet></router-outlet>
    
            <!-- footer -->
            <app-dashboard-footer></app-dashboard-footer>
        </div>
        
    </div>
    