
.sticky-bottom{
    position: sticky;
    top:45px;
    z-index: 9999;
}

#content{
	width: 100%;
	min-height: 100vh;
	transition: all 0.3s;
    padding: 10px;
}
.sidebar-close #content{
	margin: 0;
	padding: 0;
}
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}