<div class="header-container fixed-top">
    <header class="header navbar navbar-expand-sm">
        <ul class="navbar-item theme-brand flex-row text-center">
            <li class="nav-item theme-logo">
                <a href=" "> <img src="https://aurigain.com/images/logon.jpeg" width="30" height="30"
                        class="navbar-logo" alt="logo"></a>
            </li>
            <li class="nav-item theme-text">
                <a href=" " class="nav-link"> Aurigain</a>
            </li>
        </ul>
        <button type="button" id="sidebarCollapse" class="btn  btn-outline-info" (click)="calltoggleSideNav()">
            <i class="fa fa-align-left"></i>
        </button>
        <ul class="navbar-item flex-row ml-md-auto">
            <li class="theme-change-btn-grp d-none d-lg-flex align-items-center mr-2">
                <a href="" class="btn-theme-default"></a>
                <a href="" class="btn-theme-dark"></a>
                <a href="" class="btn-theme-primary"></a>
                <a href="" class="btn-theme-green"></a>
            </li>
            <li class="nav-item dropdown user-profile-dropdown">
                <a href="" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" class="nav-link dropdown-toggle user">
                    <img src="http://allaboutitdemo.co.in/assets/img/user-default.jpg" width="28" alt="user-image">
                </a>
                <div aria-labelledby="userProfileDropdown" class="dropdown-menu">
                    <div>
                        <div class="dropdown-item">
                            <div class="dropdown-item img"></div>
                            <div class="dropdown-item name text-center"></div>
                            <a href=" " class="dropdown-item text-danger pb-0">Change password</a>
                            <a href=" " class="dropdown-item sign-out">Sign Out</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </header>
</div>