<div class="layout-px-spacing h-100">
    <div class="row h-100" style="min-height: 100vh;">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="widget bg-white h-100">
          <div class="widget-header">
            <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
              <div>
                <nav class="custom-breadcrum">
                  <ol class="breadcrumb justify-content-center justify-content-sm-start" >
                    <li class="breadcrumb-item">
                    <a routerLink="/dashboard" >Home</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a routerLink="/dashboard/user-role-master">Role Master</a>
                    </li>
                    <li aria-current="page" class="breadcrumb-item active">
                    Role Mapping
                    </li>
                </ol>
                </nav>
                <h1>Role Mapping</h1>

              </div>
              <!-- <a routerLink="../fresh-leads/add-update"><button class="btn btn-primary"><i class="fa fa-add mr-2"></i>Add Role</button></a> -->
            </div>
          </div>

          <div class="m-3">
           <form [formGroup]="roleMappingForm" (ngSubmit)="submitRoleMapping()">
               <!-- <div class="form-group col-md-4">
                   <label for="selectRole" class="h5">Select Role</label>
                   <select formControlName="selectRole" class="form-control" id="selectRole">
                       <option value="">Select Role</option>
                       <option *ngFor="let role of Roles; let i = index" [value]="role">{{role | titlecase}}</option>
                   </select>
               </div> -->
               <div class="menuBox">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-check-label" for="dashboard">
                        Dashboard
                        </label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-check-input" type="checkbox" formControlName="dashboard" value="dashboard" id="dashboard">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <label class="form-check-label" for="leads">
                            Leads
                            </label>
                    </div>

                    <div class="col-md-5">
                        <input class="form-check-input" type="checkbox" formControlName="leads" value="leads" id="leads">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <label class="form-check-label" for="master">Master

                        </label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-check-input " type="checkbox" formControlName="master" value="master" id="master">
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-check-label " for="commission">
                            Commissions
                            </label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-check-input " type="checkbox" formControlName="commission" value="commission" id="commission">
                    </div>


                </div>
               <div class="row">
                    <div class="col-md-5">
                        <label class="form-check-label " for="employeeManagement">
                            Employee Management
                            </label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-check-input " type="checkbox" formControlName="employeeManagement" value="employeeManagement" id="employeeManagement">
                    </div>


                </div>
               <div class="row">
                <div class="col-md-5">
                    <label class="form-check-label " for="customerManagement">
                        Customer Management
                        </label>
                </div>
                <div class="col-md-5">
                    <input class="form-check-input " type="checkbox" formControlName="customerManagement" value="customerManagement" id="customerManagement">
                </div>


                </div>
               </div>

               <button type="submit" class="btn btn-primary mt-4 ml-5">Submit</button>
           </form>
          </div>
        </div>
      </div>
    </div>

  </div>
