<div class="personal-section">
    <div class="page-header mt-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                </div>
            </div>
        </div>
    </div>
    <div class="list">
        <ol class="">
            <li><a href="https://aurigain.com">Home </a></li>
            <li class="slash">/</li>
            <li class="active text-dark">Personal Loan</li>
        </ol>
    </div>
    <div class="container">
        <div class="container text-list">
            <div class="p-5">
                <h1> Get Personal Loan to fulfill your desires</h1>
                <p class="lead">Dreams are the seed of something big which is about to happen. As the seed of dream grows, comes the desire to execute the dream… and plan further for it's realization. Being an individual are you planning to perceive your dreams? Like, plan or enjoy a vacation abroad, or your child to study abroad. We provide (Unsecured Personal Loans) under the product umbrella so that your desire to fulfil dreams gets a wing</p>
                <ul class="pl-2 pb-3">
                    <li> Affordable Interest Rates.</li>
                    <li> Zero Collateral</li>
                    <li> Flexible Tenure</li>
                    <li> Simple procedures, easy to understand.</li>
                    <li> Safety, Trust and Transparency in our transactions.</li>
                </ul>
                <hr>
                <h4>We need the following documents</h4>
                <ul class="pl-2 pb-3">
                    <li> Individuals are required to provide proof of residence and identity proof for applying for gold loan</li>
                    <ul>
                        <li> Identity proof: Aadhaar card, PAN Card, Voter's ID, Passport, Driving license, etc.</li>
                        <li> Proof of Residence: Aadhaar Card, Electricity Bill, Ration's Card, Passport, Driving License etc.</li>
                        <li> Signature proof</li>
                        <li> Photograph</li>
                    </ul>
                    <li> Bank Statement</li>
                    <li> Pay Slip / Salary Slip / ITR (for past 3 years)</li>
                </ul>
            </div>
            <div class="container">
                <div class="row">
                    <div class="mr-5 ml-5 bg-white">
                        <div class="pt-3">
                            <div class="table-responsive p-5">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="2"> Eligibility Criteria</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Profession</th>
                                            <td>Salaried people working in government, private or MNC companies and self employed professionals like Doctors, CA, CS, Architects</td>
                                        </tr>
                                        <tr>
                                            <th>Eligible Age</th>
                                            <td>21 years to 60 years</td>
                                        </tr>
                                        <tr>
                                            <th>Minimum Income for Loan Eligibility</th>
                                            <td>₹ 25,000 per month for salaried; ₹ 5 Lakh gross annual receipts for professionals</td>
                                        </tr>
                                        <tr>
                                            <th>Work Experience Required</th>
                                            <td>3 years and above</td>
                                        </tr>
                                        <tr>
                                            <th>Experience in Current Company</th>
                                            <td>Varies from 1 month to 1 year</td>
                                        </tr>
                                        <tr>
                                            <th>Minimum CIBIL Score</th>
                                            <td>650</td>
                                        </tr>
                                        <tr>
                                            <th>Maximum EMI as percent of Income</th>
                                            <td>65%</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <a href="" class="btn btn-primary mt-5">Loan Calculator</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white mt-5 p-3 p-lg-5">
                    <div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="p-5">
                                    <p class="lead3 text-center">Apply for Personal Loan </p>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 p-3">
                                            <div class="st-tabs">
                                                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="new-loan-tab" data-toggle="pill"
                                                            href="#new-loan" role="tab" aria-controls="new-loan"
                                                            aria-selected="true">Salaried</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill"
                                                            href="#pills-profile" role="tab"
                                                            aria-controls="pills-profile" aria-selected="false">Self Employed</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content" id="pills-tabContent">
                                                    <div class="tab-pane fade show active" id="new-loan" role="tabpanel"
                                                        aria-labelledby="new-loan-tab">
                                                        <form>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputName"
                                                                        placeholder="Enter Your Full Name" value=""
                                                                        required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputMail" placeholder="Your Email" value=""
                                                                        required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="email" class="form-control"
                                                                        id="inputMobile" placeholder="Mobile Number"
                                                                        value="" required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputResidence"
                                                                        placeholder="Place of residence(PINCODE)"
                                                                        value="" required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputAmount-need"
                                                                        placeholder="Loan amount Needed" value=""
                                                                        required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputEmp-type"
                                                                        placeholder="Employer Type" value=""
                                                                        required>
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <p>
                                                                        <input type="checkbox" id="vehicle1"
                                                                            name="vehicle1" value="1" required>
                                                                        I authorize Aurigain and its Consultants to call
                                                                        / SMS / email towards this application and other
                                                                        products/services. This consent overrides my
                                                                        registration for DNC/NDNC. T&C Apply
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-12 mt-2">
                                                                    <button type="submit"
                                                                        class="btn btn-primary">Submit</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                                        aria-labelledby="pills-profile-tab">
                                                        <form>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputName"
                                                                        placeholder="Enter Your Full Name" value=""
                                                                        required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputMail" placeholder="Your Email" value=""
                                                                        required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="email" class="form-control"
                                                                        id="inputMobile" placeholder="Mobile Number"
                                                                        value="" required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputResidence"
                                                                        placeholder="Place of residence(PINCODE)"
                                                                        value="" required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputAmount-need"
                                                                        placeholder="Loan amount Needed" value=""
                                                                        required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputProfession"
                                                                        placeholder="Your Profession"
                                                                        value="" required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputITR"
                                                                        placeholder="Income as per Last ITR"
                                                                        value="" required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputLast-ITR"
                                                                        placeholder="No. of years of ITR available"
                                                                        value="" required>
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <p>
                                                                        <input type="checkbox" id="vehicle1"
                                                                            name="vehicle1" value="1" required>
                                                                        I authorize Aurigain and its Consultants to call
                                                                        / SMS / email towards this application and other
                                                                        products/services. This consent overrides my
                                                                        registration for DNC/NDNC. T&C Apply
                                                                    </p>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <div class="col-12 mt-2">
                                                                    <button type="submit"
                                                                        class="btn btn-primary">Submit</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-white mt-5 mb-5  p-3 p-lg-5">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="section-title mb30">
                                    <h1>FAQ</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <div class="accordion" id="Faqaccordionsone">
                                    <div class="card mb-1">
                                        <div class="card-header" id="faqOne">
                                            <h4 class="mb-0">
                                                <a href="#!" class="" data-toggle="collapse" data-target="#collapseOne"
                                                    aria-expanded="true" aria-controls="collapseOne">
                                                    <i class="fa fa-plus-circle mr-1 "></i>
                                                    When can I opt for a Personal Loan?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="faqOne"
                                            data-parent="#Faqaccordionsone">
                                            <div class="card-body">
                                                Personal Loans can be used for a variety of reasons. A Personal Loan can be used for weddings, education, travel, medical or any other general purposes. You can take a Personal Loan when you need money to fund an event or an emergency. <br> <br>
                                                The mandatory documents are: Bank Statements for the last three months <br> <br>
                                                Salary Slips for the last three months <br> <br>
                                                Address Proof and Identity Proof documents
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-1">
                                        <div class="card-header" id="faqTwo">
                                            <h4 class="mb-0">
                                                <a href="#!" class="collapsed" data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">
                                                    <i class="fa fa-plus-circle mr-1 "></i>
                                                    Do I need to provide any security or collateral or guarantors?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="faqTwo"
                                            data-parent="#Faqaccordionsone">
                                            <div class="card-body">
                                                No, for Personal Loan you don’t need to provide any security, collateral or guarantors.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-1">
                                        <div class="card-header" id="faqThree">
                                            <h4 class="mb-0">
                                                <a href="#!" class="collapsed" data-toggle="collapse"
                                                    data-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">
                                                    <i class="fa fa-plus-circle mr-1 "></i>
                                                    What are the benefits of a Personal Loan?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="faqThree"
                                            data-parent="#Faqaccordionsone">
                                            <div class="card-body">
                                                Here's why our Personal Loan is perfect for you:
                                                <ul class="pl-2">
                                                    <li> Quick loan payment</li>
                                                    <li> No collateral or security needed</li>
                                                    <li> Minimal documentation</li>
                                                    <li> Flexible EMI plans and many repayment options</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>