
<div class="box bg-white h-100">
    <div class="widget-header">
        <div class="row ">
        <div class="mt-4 ml-5">
          <nav>
              <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                  <a routerlink="/dashboard" href="/dashboard">Home</a>
                  </li>
                  <li class="breadcrumb-item">
                  <a href="javascript:void(0)"> Loan Application</a
                  >
                  </li>
                  <li aria-current="page" class="breadcrumb-item active">
                  View Applications
                  </li>
              </ol>
          </nav>
          <h3 class="pl-3">Gold Loan Fresh Lead</h3>
            
        </div>
        </div>
    </div>

    <!-- [formGroup]="selectedForm" -->
        <form [formGroup]="selectedForm" class="form-inline my-2 my-lg-0">
            <input #query (keyup)="filter(query.value)" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <select id="inputState" class="form-control" formControlName="selectCategory" (change)="searchedCategory()">
                <option value="" selected>Select Product</option>
                <option value="approved">Approved</option>
                <option value="pending">Pending</option>
                <option value="rejected">Rejected</option>
            </select>
        </form>

    <div class="row m-4">
        <div class="col-sm-6" *ngFor="let user of filterArray">
        <div class="card mb-4 shadow">
            <div class="card-body">
            <h5 class="card-title">{{user.FullName}}</h5>
            <p class="card-text">{{user.Id}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
        <!-- <div class="col-sm-6">
        <div class="card shadow">
            <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div> -->
    </div>
</div>