
.bg-white{
    background-color: #fff;
}

.box{
    margin: 10px;
}

.breadcrumb{
    background-color: #fff;
}

// .custom-cards{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
// }

.form-inline{
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 20px 0;
}