<div class="layout-px-spacing">
    <div class="row h-100" style="min-height: 100vh;">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="widget bg-white pb-4">
                <div class="widget-header">
                    <div
                        class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
                        <div>
                            <h3>Fresh Lead Deatils</h3>
                            <nav class="custom-breadcrum">
                                <ol class="breadcrumb justify-content-center justify-content-sm-start" >
                                    <li class="breadcrumb-item">
                                    <a routerlink="../dashboard">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                    <a routerLink="/dashboard/fresh-leads"> Fresh Lead</a
                                    >
                                    </li>
                                    <li aria-current="page" class="breadcrumb-item active">
                                    Add Fresh Lead
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="mt-5 box">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="box2">
                            <h5>
                                <!-- <img src="" alt="personal"> -->
                                Personal Details
                            </h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td style="width: 25%;"><strong>Loan Case Number:</strong></td>
                                        <td style="width: 25%;"> AUR/1/22/92158</td>
                                        <td style="width: 25%;"></td>
                                        <td style="width: 25%;"></td>
                                    </tr>

                                    <tr>
                                        <td style="width: 25%;"><strong>Full Name:</strong></td>
                                        <td style="width: 25%;">gccghchchchc</td>
                                        <td style="width: 25%;"><strong>Father's Name:</strong></td>
                                        <td style="width: 25%;">hchchchc</td>
                                    </tr>

                                    <tr>
                                        <td style="width: 25%;"><strong>Mobile Number:</strong></td>
                                        <td style="width: 25%;">1234568888</td>
                                        <td style="width: 25%;"><strong>Alternative Mobile number:</strong></td>
                                        <td style="width: 25%;">1234568885</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;"><strong>Amount Loan:</strong></td>
                                        <td style="width: 25%;">12588</td>
                                        <td style="width: 25%;"><strong>Purpose of Loan:</strong></td>
                                        <td style="width: 25%;">Holidays</td>
                                    </tr>

                                    <tr>
                                        <td style="width: 25%;"><strong>Lead Source By:</strong></td>
                                        <td style="width: 25%;">pokk</td>
                                        <td style="width: 25%;"><strong>Lead Type:</strong></td>
                                        <td style="width: 25%;">External</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="mt-5 box">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="box2">
                            <h5>
                                <!-- <img src="" alt="personal"> -->
                                Existing Loan Detail
                            </h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td style="width: 25%;"><strong>Bank Name:</strong></td>
                                        <td style="width: 25%;">HDFC</td>
                                        <td style="width: 25%;"><strong>Amount:</strong></td>
                                        <td style="width: 25%;">68868</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;"><strong>Date:</strong></td>
                                        <td style="width: 25%;">Jan 4, 2022</td>
                                        <td style="width: 25%;"><strong>Tenure:</strong></td>
                                        <td style="width: 25%;">12</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;"><strong>Jewellery Valuation:</strong></td>
                                        <td style="width: 25%;">1234</td>
                                        <td style="width: 25%;"><strong>Outstanding Amount:</strong></td>
                                        <td style="width: 25%;">5282</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;"><strong>Balance Transfer Amount:</strong></td>
                                        <td style="width: 25%;">8888</td>
                                        <td style="width: 25%;"><strong>Required Amount:</strong></td>
                                        <td style="width: 25%;">12345</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="mt-5 box">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="box2">
                            <h5>
                                <!-- <img src="" alt="personal"> -->
                                Appointment Details
                            </h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td style="width: 25%;"><strong>Bank Name:</strong></td>
                                        <td style="width: 25%;">HDFC</td>
                                        <td style="width: 25%;"><strong>IFSC Code:</strong></td>
                                        <td style="width: 25%;">hdfc302025</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;"><strong>Date of Appointment:</strong></td>
                                        <td style="width: 25%;">Jan 7, 2022</td>
                                        <td style="width: 25%;"><strong>Time of Appointment:</strong></td>
                                        <td style="width: 25%;">12:27:00</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 25%;"><strong>Branch name:</strong></td>
                                        <td style="width: 25%;">RajaPark_Jaipur</td>
                                        <td style="width: 25%;"><strong>Pincode:</strong></td>
                                        <td style="width: 25%;">302025</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
