<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://aurigain.com/images/slide2.jpg" alt="image" width="1100" height="500">
            <div class="carousel-caption">

                <a href="https://aurigain.com/gold-loan" class="btn ">Gold Loan</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://aurigain.com/images/slide3.jpeg" alt="image" width="1100" height="500">
            <div class="carousel-caption">
                <h1 class="home-text-color">Fulfill that dream of your dream home. Avail Home Loan at
                    attractive rates.</h1>
                <a href="https://aurigain.com/home-loan" class="btn ">Home Loan</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://aurigain.com/images/slide1.jpeg" alt="image" width="1100" height="500">
            <div class="carousel-caption">
                <h1 class="text-white">Get that new Vehicle, you always dreamt of.</h1>
                <a href="https://aurigain.com/vehicle-loan" class="btn ">Vehicle Loan</a>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<!-- carousel end -->
<div class="rate-table mb-2">
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="row rate-table-border">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-2">
                        <img src="https://aurigain.com/images/gold.jpeg" class="icon-svg-1x mt-3">
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-8 col-10">
                        <h1 class="loan-rate mb-0 pl-2">0.85%*</h1>
                        <small class="rate-title pl-2">Gold Loan</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="row rate-table-border">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-2">
                        <img src="https://aurigain.com/images/mortgage.svg" class="icon-svg-1x mt-3">
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-8 col-10">
                        <h1 class="loan-rate mb-0 pl-2">6.75%*</h1>
                        <small class="rate-title pl-2">Home Loan </small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="row rate-table-border">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-2">
                        <img src="https://aurigain.com/images/loan.svg" class="icon-svg-1x mt-3">
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-8 col-10">
                        <h1 class="loan-rate mb-0 pl-2">11.00% </h1>
                        <small class="rate-title pl-2">Personal Loan </small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="row rate-table-border">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-2">
                        <img src="https://aurigain.com/images/car.svg" class="icon-svg-1x mt-3">
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-8 col-10">
                        <h1 class="loan-rate mb-0 pl-2">8.70%</h1>
                        <small class="rate-title pl-2">Vehicle Loan</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- rate table end -->

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
            <div class="text-center">
                <!-- section title start-->
                <h1>Our Product Offerings</h1>
                <p>We at aurigain strive to provide you with a loan program that meets your financial need. Our
                    endeavor is to provide short term liquidity, by making funds available within 24 hours of
                    application.</p>
            </div>

        </div>
    </div>
</div>
<!-- /.section title end-->