<div class="layout-px-spacing h-100">
    <div class="row h-100" style="min-height: 100vh;">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="widget bg-white h-100">
          <div class="widget-header">
            <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
              <div>
                <nav class="custom-breadcrum">
                  <ol class="breadcrumb justify-content-center justify-content-sm-start" >
                    <li class="breadcrumb-item">
                    <a routerlink="/dashboard" href="/dashboard">Home</a>
                    </li>
                    <li aria-current="page" class="breadcrumb-item active">
                    Bank Master
                    </li>
                </ol>
                </nav>
                <h1>Bank Master</h1>

              </div>
              <a routerLink="add-bank"><button class="btn btn-primary"><i class="fa fa-add mr-2"></i>Add Bank</button></a>
            </div>
          </div>

          <div class="row position-relative mx-1">
            <div class="col-12 col-md-4 d-flex justify-content-sm-start justify-content-center">
              <div>
                <label class="form-inline my-2 pt-3">Results:
                  <select #items (change)="itemsFilter(items.value)" class="form-control ml-2">
                    <option value="">All</option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="6">6</option>
                  </select></label>
              </div>
            </div>
            <div class="col-12 col-md-8 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3">
              <form class="form-inline my-2 pt-3 my-lg-0">

                <input #query (keyup)="filter(query.value)" class="form-control mr-sm-2" type="search"
                  placeholder="Search" aria-label="Search">
                <!-- <select id="inputState" class="form-control" formControlName="selectCategory"
                  (change)="searchedCategory()">
                  <option value="" selected>Select Bank</option>
                  <option value="approved">Bank 1</option>
                  <option value="pending">Bank 2</option>
                  <option value="rejected">Bank 3</option>
                </select> -->
              </form>
            </div>
          </div>

          <div class="m-3">
            <div class="table-responsive table-striped table-shadow">
              <table class="table">
                <thead class="text-white">
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let user of filterArray | paginate: { itemsPerPage: rowFilter, currentPage: p }; let i = index ">
                    <td>{{(p-1) * rowFilter + i + 1}}</td>
                    <td>ICICI</td>
                    <td>status</td>
                    <td>
                      <div ngbDropdown class="menu">
                        <button ngbDropdownToggle><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                        <div ngbDropdownMenu class="sub-menu">
                          <a ngbDropdownItem href="#" class="edit"><i class="fas fa-edit pr-1"></i>Edit Bank</a>
                          <a ngbDropdownItem class="delete"><i class="fas fa-trash pr-1"></i>Delete Bank</a>
                          <a ngbDropdownItem class="booking"><i class="fas fa-eye pr-1"></i>Bank Details</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <pagination-controls (pageChange)="p =$event" class="float-right mt-5"></pagination-controls>
          </div>
        </div>
      </div>
    </div>

  </div>
