<div class="blog-section">
    <div class="page-header8">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="list">
                        <ol class="">
                            <li><a href="https://aurigain.com">Home </a></li>
                            <li class="slash">/</li>
                            <li class="active text-white">Blog</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="blog mb-5">
        <div class="container mt-3 mt30">
            <div class="row bgcolor justify-content-center ">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-5 mb-5">
                    <div class="container ">
                        <div class="box box-width">
                            <div class="">
                                <a href="https://aurigain.com/personal-loan" class="imghover"><img
                                        src="https://aurigain.com/images/blog-img.jpg" class="img-fluid"></a>
                            </div>
                        </div>
                        <div class="box1 bg-white padding-inside">
                            <h2><a href="javascript:void(0)" class="title">Couples Happy with Personal Loan</a></h2>
                            <p class="meta"><span class="meta-date">Mar 15, 2021 </span><span class="meta-author">By<a
                                        href="javascript:void(0)"> Admin</a></span></p>

                            <p>How today's couples are enjoying their lives by availing personal loans.
                            </p>
                            <a href="javascript:void(0)" class="btn-link pt-3">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-5 mb-5">
                    <div class="container ">
                        <div class="box box-width">
                            <div class="">
                                <a href="https://aurigain.com/home-loan" class="imghover"><img
                                        src="https://aurigain.com/images/blog-img-1.jpg" class="img-fluid"></a>
                            </div>
                        </div>
                        <div class="box1 bg-white padding-inside">
                            <h2><a href="javascript:void(0)" class="title">Family Thinking for Home Loan</a></h2>
                            <p class="meta"><span class="meta-date">Apr 04, 2021</span><span class="meta-author">By<a
                                        href="javascript:void(0)"> Admin</a></span></p>
                            <p>Taking home loans is easier than ever, read more on how to avail attractive Home Loans.
                            </p>
                            <a href="javascript:void(0)" class="btn-link pt-3">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-5 mb-5">
                    <div class="container">
                        <div class="box box-width">
                            <div class="">
                                <a href="https://aurigain.com/gold-loan" class="imghover"><img
                                        src="https://aurigain.com/images/blog-img-2.jpg" class="img-fluid"></a>
                            </div>
                        </div>
                        <div class="box1 bg-white padding-inside">
                            <h2><a href="javascript:void(0)" class="title">Are you looking for Gold Loan?</a></h2>
                            <p class="meta"><span class="meta-date">May 23, 2021</span><span class="meta-author">By<a
                                        href="javascript:void(0)"> Admin</a></span></p>
                            <p>Aurigain is a trusted name for providing gold loans in the country.</p>
                            <a href="javascript:void(0)" class="btn-link pt-3">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>