<div class="home-section">
    <div class="page-header mt-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                </div>
            </div>
        </div>
    </div>
    <div class="list">
        <ol class="">
            <li><a href="https://aurigain.com">Home </a></li>
            <li class="slash">/</li>
            <li class="active text-dark">Home Loan</li>
        </ol>
    </div>
    <div class="container">
        <div class="container text-list">
            <div class="p-5">
                <h1> Fulfil your dream of owning a home</h1>
                <p class="lead">The Aurigain Home Loan comes with a host of benefits such as smaller EMIs where you can space out your payment over a longer tenure, attractive interest rates, an easy application process, doorstep service, etc. Find out more about our Home Loan Product below.</p>
                <ul class="pl-2 pb-3">
                    <li> Smaller EMIs.</li>
                    <li> Minimum Loan Amount Rs. 5 Lakhs</li>
                    <li> Np Prepayment Charges </li>
                    <li> Floating and Fixed Interest Rates</li>
                    <li> Simple procedures, easy to understand. </li>
                    <li> Safety, Trust and Transparency in our transactions.</li>
                </ul>
                <hr>
                <p class="lead"> A home loan allows the borrowers to buy or construct a home, by keeping the house as a collateral. The banks finance home loans up to the maximum limit of 90% of the property's value, wherein the funds are provided by undertaking the concerned house as a security. The Central and State Governments offer various housing and subsidy schemes to encourage “Housing to All” by the end of the year 2022</p>
                <h4>We need the following documents</h4>
                <ul class="pl-2 pb-3">
                    <li> PAN Card</li>
                    <ul>
                        <li> Identity proof: Aadhaar card, PAN Card, Voter's ID, Passport, Driving license, etc.</li>
                        <li> Proof of Residence: Aadhaar Card, Electricity Bill, Ration's Card, Passport, Driving License etc.</li>
                        <li> Signature proof</li>
                        <li> Photograph</li>
                    </ul>
                    <li> Bank Statement</li>
                    <li> Pay Slip / Salary Slip / ITR (for past 3 years)</li>
                </ul>
            </div>
            <div class="container">
                <div class="row">
                    <div class="mr-5 ml-5 bg-white">
                        <div class="pt-3">
                            <div class="table-responsive p-5">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="2"> Eligibility Criteria</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Eligible Age</th>
                                            <td>S18-70 years</td>
                                        </tr>
                                        <tr>
                                            <th>Net Monthly Income</th>
                                            <td>₹ 25,000 or above</td>
                                        </tr>
                                        <tr>
                                            <th>Loan Tenure</th>
                                            <td>Upto 30 years</td>
                                        </tr>
                                        <tr>
                                            <th>Employment History</th>
                                            <td>Job continuity of 3 years and more</td>
                                        </tr>
                                        <tr>
                                            <th>Work Experience</th>
                                            <td>2 years</td>
                                        </tr>
                                        <tr>
                                            <th>LTV</th>
                                            <td>75% to 90%</td>
                                        </tr>
                                        <tr>
                                            <th>CIBIL Score</th>
                                            <td>650 and above</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <a href="" class="btn btn-primary mt-5">Loan Calculator</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white mt-5 p-3 p-lg-5">
                    <div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="p-5">
                                    <p class="lead3 text-center">Apply for Personal Loan </p>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 p-3">
                                            <div class="st-tabs">
                                                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="new-loan-tab" data-toggle="pill"
                                                            href="#new-loan" role="tab" aria-controls="new-loan"
                                                            aria-selected="true">Salaried</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill"
                                                            href="#pills-profile" role="tab"
                                                            aria-controls="pills-profile" aria-selected="false">Self Employed</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content" id="pills-tabContent">
                                                    <div class="tab-pane fade show active" id="new-loan" role="tabpanel"
                                                        aria-labelledby="new-loan-tab">
                                                        <form>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputName"
                                                                        placeholder="Enter Your Full Name" value=""
                                                                        required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputMail" placeholder="Your Email" value=""
                                                                        required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="email" class="form-control"
                                                                        id="inputMobile" placeholder="Mobile Number"
                                                                        value="" required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputResidence"
                                                                        placeholder="Place of residence(PINCODE)"
                                                                        value="" required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputAmount-need"
                                                                        placeholder="Loan amount Needed" value=""
                                                                        required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputEmp-type"
                                                                        placeholder="Employer Type" value=""
                                                                        required>
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <p>
                                                                        <input type="checkbox" id="vehicle1"
                                                                            name="vehicle1" value="1" required>
                                                                        I authorize Aurigain and its Consultants to call
                                                                        / SMS / email towards this application and other
                                                                        products/services. This consent overrides my
                                                                        registration for DNC/NDNC. T&C Apply
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-12 mt-2">
                                                                    <button type="submit"
                                                                        class="btn btn-primary">Submit</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                                        aria-labelledby="pills-profile-tab">
                                                        <form>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputName"
                                                                        placeholder="Enter Your Full Name" value=""
                                                                        required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputMail" placeholder="Your Email" value=""
                                                                        required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="email" class="form-control"
                                                                        id="inputMobile" placeholder="Mobile Number"
                                                                        value="" required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputResidence"
                                                                        placeholder="Place of residence(PINCODE)"
                                                                        value="" required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputAmount-need"
                                                                        placeholder="Loan amount Needed" value=""
                                                                        required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputProfession"
                                                                        placeholder="Your Profession"
                                                                        value="" required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputITR"
                                                                        placeholder="Income as per Last ITR"
                                                                        value="" required>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <input type="text" class="form-control"
                                                                        id="inputLast-ITR"
                                                                        placeholder="No. of years of ITR available"
                                                                        value="" required>
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <p>
                                                                        <input type="checkbox" id="vehicle1"
                                                                            name="vehicle1" value="1" required>
                                                                        I authorize Aurigain and its Consultants to call
                                                                        / SMS / email towards this application and other
                                                                        products/services. This consent overrides my
                                                                        registration for DNC/NDNC. T&C Apply
                                                                    </p>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <div class="col-12 mt-2">
                                                                    <button type="submit"
                                                                        class="btn btn-primary">Submit</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-white mt-5 mb-5  p-3 p-lg-5">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="section-title mb30">
                                    <h1>FAQ</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <div class="accordion" id="Faqaccordionsone">
                                    <div class="card mb-1">
                                        <div class="card-header" id="faqOne">
                                            <h4 class="mb-0">
                                                <a href="#!" class="" data-toggle="collapse" data-target="#collapseOne"
                                                    aria-expanded="true" aria-controls="collapseOne">
                                                    <i class="fa fa-plus-circle mr-1 "></i>
                                                    What are the required Documents for sanctioning of file?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="faqOne"
                                            data-parent="#Faqaccordionsone">
                                            <div class="card-body">
                                                The entire list of documents required to fulfil the application are mentioned in the 'Document Checklist' form that is available in the Downloads section of the home page 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-1">
                                        <div class="card-header" id="faqTwo">
                                            <h4 class="mb-0">
                                                <a href="#!" class="collapsed" data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">
                                                    <i class="fa fa-plus-circle mr-1 "></i>
                                                    What is the time limit for sanction of file?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="faqTwo"
                                            data-parent="#Faqaccordionsone">
                                            <div class="card-body">
                                                The application undergoes a thorough review process which would take about2 weeks of time from the date of submission.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-1">
                                        <div class="card-header" id="faqThree">
                                            <h4 class="mb-0">
                                                <a href="#!" class="collapsed" data-toggle="collapse"
                                                    data-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">
                                                    <i class="fa fa-plus-circle mr-1 "></i>
                                                    How to check the status of Loan file?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="faqThree"
                                            data-parent="#Faqaccordionsone">
                                            <div class="card-body">
                                                We would require a minimum of 2 weeks' time to update the status of your loan file. In case you havenst heard from us post 2 weeks, we kindly request you to drop an email on our email address. We will get back to you at the earliest.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-1">
                                        <div class="card-header" id="faqFour">
                                            <h4 class="mb-0">
                                                <a href="#!" class="collapsed" data-toggle="collapse"
                                                    data-target="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">
                                                    <i class="fa fa-plus-circle mr-1 "></i>
                                                    What is EMI amount for particular loan required for particular tenure?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="faqFour"
                                            data-parent="#Faqaccordionsone">
                                            <div class="card-body">
                                                To help estimate the EMI amount, we have provided an easy to use EMI Calculator that is available at the bottom of the home page. This calculator helps you to estimate the EMI amount required for different loan amounts and tenure.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-1">
                                        <div class="card-header" id="faqFive">
                                            <h4 class="mb-0">
                                                <a href="#!" class="collapsed" data-toggle="collapse"
                                                    data-target="#collapseFive" aria-expanded="false"
                                                    aria-controls="collapseFive">
                                                    <i class="fa fa-plus-circle mr-1 "></i>
                                                    What are the repayment period options?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFive" class="collapse" aria-labelledby="faqFive"
                                            data-parent="#Faqaccordionsone">
                                            <div class="card-body">
                                                Repayment period options range generally from 5 to 15 years. In special case SRG HFCs also offer a 20-year repayment period, usually at a higher interest rate. As a non-resident, you can avail of a loan only for a maximum period of 7 years. <br> <br> 
                                                Interest rate shall be applicable as per to the company policy as per to the monthly reducing- balance method.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-1">
                                        <div class="card-header" id="faqSix">
                                            <h4 class="mb-0">
                                                <a href="#!" class="collapsed" data-toggle="collapse"
                                                    data-target="#collapseSix" aria-expanded="false"
                                                    aria-controls="collapseSix">
                                                    <i class="fa fa-plus-circle mr-1 "></i>
                                                    What are the tax benefit of home loan?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSix" class="collapse" aria-labelledby="faqSix"
                                            data-parent="#Faqaccordionsone">
                                            <div class="card-body">
                                                Resident Indians are eligible for certain tax benefits on principal and interest components of a home loan. As per Income Tax Act 1961 rules, the current applicable exemption under section 24(b) is Rupees 2,00,000/- for the interest amount paid in the financial year and up to Rupees 1,50,000/- (under section 80 C) for the principal amount repaid in the same year.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-1">
                                        <div class="card-header" id="faqSeven">
                                            <h4 class="mb-0">
                                                <a href="#!" class="collapsed" data-toggle="collapse"
                                                    data-target="#collapseSeven" aria-expanded="false"
                                                    aria-controls="collapseSeven">
                                                    <i class="fa fa-plus-circle mr-1 "></i>
                                                    How does the lending Institution decide on the amount I can get as loan against property?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSeven" class="collapse" aria-labelledby="faqSeven"
                                            data-parent="#Faqaccordionsone">
                                            <div class="card-body">
                                                For calculating the loan amount, your income, age, qualifications, number of dependents, spouse's income, assets, liabilities, stability and continuity of occupation and savings history are taken into consideration. However the eligibility of loan does not, generally, exceed 60 percent of the market value of the property.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>