<div class="wrapper">
  <div id="content">
    <div class="container bg-secondary">
      <div class="row back">
        <div class="container">
          <div class="d-flex justify-content-between mt-2">
            <div class="p-2">
              <h3>Topic</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Library</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
              </nav>
            </div>

            <div class="p-2 mt-4">
              <a href="" class="btn btn-dark">New Lead</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="d-flex justify-content-between mt-2">
            <div class="p-2">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="pt-2 pr-2">Results:</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
            <div class="p-2">
              <div class="search-container">
                <form action="/action_page.php">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <table class="table table-responsive table-striped mat">
            <thead>
              <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Father Name</th>
                <th>Product</th>
                <th>Pincode</th>
                <th>Mobile Number</th>
                <th>Loan Amount</th>
                <th>Lead Status</th>
                <th>Lead Source By</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td> <span>N</span> Nick Nick</td>
                <td>john@example.com</td>
                <td>John</td>
                <td><button class="btn btn-primary">Doe</button></td>
                <td>john@example.com</td>
                <td>John</td>
                <td> <button class="btn-theme-primary">New</button></td>
                <td>john@example.com</td>
                <td>Doe</td>
              </tr>
              <tr>
                <td>1</td>
                <td> <span>N</span> Nick Nick</td>
                <td>john@example.com</td>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>John</td>
                <td> <button class="btn-theme-primary">New</button></td>
                <td>john@example.com</td>
                <td>Doe</td>
              </tr>
              <tr>
                <td>1</td>
                <td> <span>N</span> Nick Nick</td>
                <td>john@example.com</td>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>John</td>
                <td> <button class="btn-theme-primary">New</button></td>
                <td>john@example.com</td>
                <td>Doe</td>
              </tr>
              <tr>
                <td>1</td>
                <td> <span>N</span> Nick Nick</td>
                <td>john@example.com</td>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>John</td>
                <td> <button class="btn-theme-primary">New</button></td>
                <td>john@example.com</td>
                <td>Doe</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="container mt-3 mb-3 text-center">
        <div class="d-flex justify-content-center mb-3">
          <div class="p-2">
            <p>Items per page: <span> 10 </span> </p>
          </div>
          <div class="p-2">Flex item 2</div>
          <div class="p-2">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>