<div class="layout-px-spacing h-100">
  <div class="row h-100" style="min-height: 100vh;">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="widget bg-white h-100">
            <div class="widget-header">
            <div
            class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
            <div>
              <nav class="custom-breadcrum">
                  <ol class="breadcrumb justify-content-center justify-content-sm-start" >
                      <li class="breadcrumb-item">
                      <a routerlink="/dashboard" href="/dashboard">Home</a>
                      </li>
                      <li class="breadcrumb-item">
                      <a routerLink="/dashboard/user-list">User Management</a>
                      >
                      </li>
                      <li aria-current="page" class="breadcrumb-item active">
                      Add User
                      </li>
                  </ol>
              </nav>
              <h3>ADD NEW USER</h3>

            </div>
            </div>
            </div>
            <div class="d-flex flex-md-row px-3 mt-4 flex-column-reverse">

            <div class="col-md-4">
              <ul id="progressbar">
                  <li class="StepProgress-item" [ngClass]="{'active': currentStep >= 1}"><span class="span1">Personal Details</span></li>
                  <li class="StepProgress-item" [ngClass]="{'active': currentStep >= 2}"><span class="span1">Bank Details</span></li>
                  <li class="StepProgress-item" [ngClass]="{'active': currentStep >= 3}"><span class="span1">KYC Details</span></li>
                  <li class="StepProgress-item" [ngClass]="{'active': currentStep >= 4}"><span class="span1">Other Personal Details</span></li>
                </ul>
            </div>

            <div class="main-container col-md-8">
                <div class="detail-div">
                    <div class="vertical-line personal-form" *ngIf="currentStep == 1">
                        <div class="form-content">
                          <form [formGroup]="personalDetails">
                              <div class="form-row">

                                  <div class="form-group col-md-4">
                                      <label for="inputFullName">Name</label>
                                      <input formControlName="name" type="text" class="form-control" placeholder="Full name" readonly >

                                      <ng-container *ngIf="personalDetails.get('name').invalid && personalDetails.get('name').touched" class="col-sm-3 col-form-label"></ng-container>
                                          <div *ngIf="personalDetails.get('name').invalid && personalDetails.get('name').touched" class="custom-invalid-feedback" style="margin-top: 5px;">
                                              <small class="text-danger" *ngIf="personalDetails.get('name').errors?.['required']">Enter Full Name</small>
                                          </div>
                                  </div>
                                  <div class="form-group col-md-4">
                                      <label for="inputEmployeeCode">Employee Code</label>
                                      <input type="number" formControlName="employeeCode" class="form-control" id="inputEmail" placeholder="Employee Code"  readonly>

                                      <ng-container *ngIf="personalDetails.get('employeeCode').invalid && personalDetails.get('employeeCode').touched" class="col-sm-3 col-form-label"></ng-container>
                                          <div *ngIf="personalDetails.get('employeeCode').invalid && personalDetails.get('employeeCode').touched" class="custom-invalid-feedback" style="margin-top: 5px;">
                                              <small class="text-danger" *ngIf="personalDetails.get('employeeCode').errors?.['required']">Enter Employee Code</small>
                                          </div>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputDate">Address</label>
                                    <input formControlName="address" type="text" class="form-control" id="inputDate" placeholder="Address">
                                    <ng-container *ngIf="personalDetails.get('address').invalid && personalDetails.get('address').touched" class="col-sm-3 col-form-label"></ng-container>
                                        <div *ngIf="personalDetails.get('address').invalid && personalDetails.get('address').touched" class="custom-invalid-feedback" style="margin-top: 5px;">
                                            <small class="text-danger" *ngIf="personalDetails.get('address').errors?.['required']">Address is required</small>
                                        </div>
                                  </div>
                              </div>
                              <div class="form-row">
                              <div class="form-group col-md-4">
                                  <label for="inputDate">Designation</label>

                                  <select id="inputState" class="form-control" formControlName="designation" placeholder="Designation">
                                      <option value="" selected>Select Role</option>
                                      <option value="option1">Option 1</option>
                                      <option value="option2">Option 2</option>
                                      <option value="option3">Option 3</option>
                                  </select>
                                  <ng-container *ngIf="personalDetails.get('role').invalid && personalDetails.get('role').touched" class="col-sm-3 col-form-label"></ng-container>
                                      <div *ngIf="personalDetails.get('role').invalid && personalDetails.get('role').touched" class="custom-invalid-feedback" style="margin-top: 5px;">
                                          <small class="text-danger" *ngIf="personalDetails.get('role').errors?.['required']">role is required</small>
                                      </div>
                              </div>
                              <div class="form-group col-md-4">
                                  <label for="inputDate">Reporting Person</label>

                                  <select id="inputState" class="form-control" formControlName="reportingPerson" placeholder="Reporting Person">
                                      <option value="" selected>Select Reporting Person</option>
                                      <option value="option1">Option 1</option>
                                      <option value="option2">Option 2</option>
                                      <option value="option3">Option 3</option>
                                  </select>
                                  <ng-container *ngIf="personalDetails.get('role').invalid && personalDetails.get('role').touched" class="col-sm-3 col-form-label"></ng-container>
                                      <div *ngIf="personalDetails.get('role').invalid && personalDetails.get('role').touched" class="custom-invalid-feedback" style="margin-top: 5px;">
                                          <small class="text-danger" *ngIf="personalDetails.get('role').errors?.['required']">role is required</small>
                                      </div>
                              </div>


                              </div>

                          </form>
                        </div>
                        <div class="row">

                            <div class="form-btn">

                              <a (click)="savePersonalDetails()"><button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Next</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-div">
                    <div class="vertical-line personal-form" *ngIf="currentStep == 2">
                      <div class="form-content">
                        <form [formGroup]="bankDetails">
                          <div class="form-row">
                              <div class="form-group col-md-4">
                                  <label for="inputBankName">Bank Name</label>
                                  <input formControlName="bankName" type="text" class="form-control" placeholder="Bank Name">
                                      <ng-container *ngIf="bankDetails.get('bankName').invalid && bankDetails.get('bankName').touched" class="col-sm-3 col-form-label"></ng-container>
                                      <div *ngIf="bankDetails.get('bankName').invalid && bankDetails.get('bankName').touched" class="custom-invalid-feedback" style="margin-top: 5px;">
                                          <small class="text-danger" *ngIf="bankDetails.get('bankName').errors?.['required']">Bank Name is required</small>
                                      </div>
                              </div>

                              <div class="form-group col-md-4">
                                  <label for="inputAmountOld">Amount</label>
                                  <input formControlName="amountOld" type="number" class="form-control" placeholder="Amount">

                                  <ng-container *ngIf="bankDetails.get('amountOld').invalid && bankDetails.get('amountOld').touched" class="col-sm-3 col-form-label"></ng-container>
                                      <div *ngIf="bankDetails.get('amountOld').invalid && bankDetails.get('amountOld').touched" class="custom-invalid-feedback" style="margin-top: 5px;">
                                          <small class="text-danger" *ngIf="bankDetails.get('amountOld').errors?.['required']">Enter Amount</small>
                                      </div>
                              </div>

                              <div class="form-group col-md-4">
                              <label for="inputdateOld">Date</label>
                              <input formControlName="amountOld" type="date" class="form-control">
                                  <ng-container *ngIf="bankDetails.get('dateOld').invalid && bankDetails.get('dateOld').touched" class="col-sm-3 col-form-label"></ng-container>
                                  <div *ngIf="bankDetails.get('dateOld').invalid && bankDetails.get('dateOld').touched" class="custom-invalid-feedback" style="margin-top: 5px;">
                                      <small class="text-danger" *ngIf="bankDetails.get('dateOld').errors?.['required']">Date required</small>
                                  </div>
                              </div>
                          </div>
                            <div class="form-row">
                              <div class="form-group col-md-4">
                                  <label for="inputDocumentNumber">Jewellery Valuation</label>
                                  <input formControlName="valuation" type="number" class="form-control" placeholder="Jewellery Valuation">

                                  <ng-container *ngIf="bankDetails.get('valuation').invalid && bankDetails.get('valuation').touched" class="col-sm-3 col-form-label"></ng-container>
                                      <div *ngIf="bankDetails.get('valuation').invalid && bankDetails.get('valuation').touched" class="custom-invalid-feedback" style="margin-top: 5px;">
                                          <small class="text-danger" *ngIf="bankDetails.get('valuation').errors?.['required']">Enter Jewellery Valuation</small>
                                      </div>
                              </div>
                              <div class="form-group col-md-4">
                                  <label for="inputoutstandingAmount">Outstanding Amount</label>
                                  <input formControlName="outstandingAmount" type="number" class="form-control" placeholder="Outstanding Amount">

                                  <ng-container *ngIf="bankDetails.get('outstandingAmount').invalid && bankDetails.get('outstandingAmount').touched" class="col-sm-3 col-form-label"></ng-container>
                                      <div *ngIf="bankDetails.get('outstandingAmount').invalid && bankDetails.get('outstandingAmount').touched" class="custom-invalid-feedback" style="margin-top: 5px;">
                                          <small class="text-danger" *ngIf="bankDetails.get('outstandingAmount').errors?.['required']">Enter Outstanding Amount</small>
                                      </div>
                              </div>
                              <div class="form-group col-md-4">
                                  <label for="inputbalanceTransferAmount">Balance Transfer Amount</label>
                                  <input formControlName="balanceTransferAmount" type="number" class="form-control" placeholder="Balance Transfer Amount">

                                  <ng-container *ngIf="bankDetails.get('balanceTransferAmount').invalid && bankDetails.get('balanceTransferAmount').touched" class="col-sm-3 col-form-label"></ng-container>
                                      <div *ngIf="bankDetails.get('balanceTransferAmount').invalid && bankDetails.get('balanceTransferAmount').touched" class="custom-invalid-feedback" style="margin-top: 5px;">
                                          <small class="text-danger" *ngIf="bankDetails.get('balanceTransferAmount').errors?.['required']">Enter Balance Transfer Amount</small>
                                      </div>
                              </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputRequiredAmount">Required Amount</label>
                                    <input formControlName="requiredAmount" type="number" class="form-control" placeholder="Required Amount">

                                    <ng-container *ngIf="bankDetails.get('requiredAmount').invalid && bankDetails.get('requiredAmount').touched" class="col-sm-3 col-form-label"></ng-container>
                                        <div *ngIf="bankDetails.get('requiredAmount').invalid && bankDetails.get('requiredAmount').touched" class="custom-invalid-feedback" style="margin-top: 5px;">
                                            <small class="text-danger" *ngIf="bankDetails.get('requiredAmount').errors?.['required']">Enter Required Amount</small>
                                        </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputTenure">Tenure</label>
                                    <input formControlName="tenure" type="number" class="form-control" placeholder="PAN Number">

                                    <ng-container *ngIf="bankDetails.get('tenure').invalid && bankDetails.get('tenure').touched" class="col-sm-3 col-form-label"></ng-container>
                                        <div *ngIf="bankDetails.get('tenure').invalid && bankDetails.get('tenure').touched" class="custom-invalid-feedback" style="margin-top: 5px;">
                                            <small class="text-danger" *ngIf="bankDetails.get('tenure').errors?.['required']">Enter Father Name</small>
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                        <div class="row">
                            <div class="form-btn">
                                <a (click)="stepDown()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-left"></i> Back</button></a>
                            </div>
                            <div class="form-btn">

                                <a (click)="saveBankDetails()"><button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Next</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-div">

                    <div class="vertical-line personal-form" *ngIf="currentStep == 3">
                      <div class="form-content">
                        <form [formGroup]="kycDetailForm">
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <select
                                [class.is-invalid]="qualification.invalid && qualification.touched"
                                class="form-control"
                                id="exampleFormControlSelect1"
                                formControlName="qualification"
                              >
                                <option value="">Select Qualification</option>
                                <option value="10th">10th</option>
                                <option value="12th">12th</option>
                                <option value="graduation">Graduate</option>
                                <option value="postgraduation">Post Graduate</option>
                                <option value="other">Other</option>
                              </select>
                              <div style="margin-left: 10px;" *ngIf="qualification.invalid && qualification.touched">
                                <small *ngIf="qualification.errors?.['required']" class="text-danger">Qualification is required</small>
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                              <input
                              [class.is-invalid]="adhaarNumber.invalid && adhaarNumber.touched"
                              type="number"
                                class="form-control"
                                id="inputAadhar"
                                placeholder="AADHAR Number Name"
                                formControlName="adhaarNumber"
                                required
                              />
                              <div style="margin-left: 10px;" *ngIf="adhaarNumber.invalid && adhaarNumber.touched">
                                <small *ngIf="adhaarNumber.errors?.['required']" class="text-danger">Adhaar Number is required</small>
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                              <input
                              [class.is-invalid]="panNumber.invalid && panNumber.touched"
                              type="text"
                                class="form-control"
                                id="inputPan"
                                placeholder="PAN Number"
                                formControlName="panNumber"
                                required
                              />
                              <div style="margin-left: 10px;" *ngIf="panNumber.invalid && panNumber.touched">
                                <small *ngIf="panNumber.errors?.['required']" class="text-danger">PAN number is required</small>
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                              <input
                              [class.is-invalid]="occupation.invalid && occupation.touched"
                              type="text"
                                class="form-control"
                                id="inputOccupation"
                                placeholder="Occupation"
                                formControlName="occupation"
                                required
                              />
                              <div style="margin-left: 10px;" *ngIf="occupation.invalid && occupation.touched">
                                <small *ngIf="occupation.errors?.['required']" class="text-danger">Occupation is required</small>
                              </div>
                            </div>

                            <div class="form-group col-md-12">
                              <label class="control-label"> Profile picture</label>
                              <div class="input-group mb-2">
                                <div class="custom-file">
                                  <input

                                  type="file"
                                    class="custom-file-input"
                                    id="profilepic"
                                  />
                                  <label
                                    class="custom-file-label"
                                    for="profilepic"
                                    >Choose file</label
                                  >
                                </div>
                              </div>
                            </div>

                            <div class="form-group col-md-12">
                              <label class="control-label"> AAdhar Card (Front)</label>
                              <div class="input-group mb-2">
                                <div class="custom-file">
                                  <input
                                    type="file"
                                    class="custom-file-input"
                                    id="aadharfront"
                                  />
                                  <label
                                    class="custom-file-label"
                                    for="aadharfront"
                                    >Choose file</label
                                  >
                                </div>
                              </div>
                            </div>

                            <div class="form-group col-md-12">
                              <label class="control-label"> AAdhar Card (Back)</label>
                              <div class="input-group mb-2">
                                <div class="custom-file">
                                  <input
                                    type="file"
                                    class="custom-file-input"
                                    id="aadharback"
                                  />
                                  <label
                                    class="custom-file-label"
                                    for="aadharback"
                                    >Choose file</label
                                  >
                                </div>
                              </div>
                            </div>

                            <div class="form-group col-md-12">
                              <label class="control-label"> Pan Card</label>
                              <div class="input-group mb-2">
                                <div class="custom-file">
                                  <input
                                    type="file"
                                    class="custom-file-input"
                                    id="panimg"
                                  />
                                  <label
                                    class="custom-file-label"
                                    for="panimg"
                                    >Choose file</label
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                    </div>
                    <div class="row">
                      <div class="form-btn">
                          <a (click)="stepDown()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-left"></i> Back</button></a>
                      </div>
                      <div class="form-btn">

                          <a (click)="saveBankDetails()"><button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Next</button></a>
                      </div>
                  </div>
                    </div>
                </div>
                <div class="detail-div">

                    <div class="vertical-line personal-form" *ngIf="currentStep == 4">
                      <div class="form-content">
                        <form [formGroup]="otherPersonalDetails">
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <select
                                [class.is-invalid]="qualification.invalid && qualification.touched"
                                class="form-control"
                                id="exampleFormControlSelect1"
                                formControlName="qualification"
                              >
                                <option value="">Select Qualification</option>
                                <option value="10th">10th</option>
                                <option value="12th">12th</option>
                                <option value="graduation">Graduate</option>
                                <option value="postgraduation">Post Graduate</option>
                                <option value="other">Other</option>
                              </select>
                              <div style="margin-left: 10px;" *ngIf="qualification.invalid && qualification.touched">
                                <small *ngIf="qualification.errors?.['required']" class="text-danger">Qualification is required</small>
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                              <input
                              [class.is-invalid]="adhaarNumber.invalid && adhaarNumber.touched"
                              type="number"
                                class="form-control"
                                id="inputAadhar"
                                placeholder="AADHAR Number Name"
                                formControlName="adhaarNumber"
                                required
                              />
                              <div style="margin-left: 10px;" *ngIf="adhaarNumber.invalid && adhaarNumber.touched">
                                <small *ngIf="adhaarNumber.errors?.['required']" class="text-danger">Adhaar Number is required</small>
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                              <input
                              [class.is-invalid]="panNumber.invalid && panNumber.touched"
                              type="text"
                                class="form-control"
                                id="inputPan"
                                placeholder="PAN Number"
                                formControlName="panNumber"
                                required
                              />
                              <div style="margin-left: 10px;" *ngIf="panNumber.invalid && panNumber.touched">
                                <small *ngIf="panNumber.errors?.['required']" class="text-danger">PAN number is required</small>
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                              <input
                              [class.is-invalid]="occupation.invalid && occupation.touched"
                              type="text"
                                class="form-control"
                                id="inputOccupation"
                                placeholder="Occupation"
                                formControlName="occupation"
                                required
                              />
                              <div style="margin-left: 10px;" *ngIf="occupation.invalid && occupation.touched">
                                <small *ngIf="occupation.errors?.['required']" class="text-danger">Occupation is required</small>
                              </div>
                            </div>

                            <div class="form-group col-md-12">
                              <label class="control-label"> Profile picture</label>
                              <div class="input-group mb-2">
                                <div class="custom-file">
                                  <input

                                  type="file"
                                    class="custom-file-input"
                                    id="profilepic"
                                  />
                                  <label
                                    class="custom-file-label"
                                    for="profilepic"
                                    >Choose file</label
                                  >
                                </div>
                              </div>
                            </div>

                            <div class="form-group col-md-12">
                              <label class="control-label"> AAdhar Card (Front)</label>
                              <div class="input-group mb-2">
                                <div class="custom-file">
                                  <input
                                    type="file"
                                    class="custom-file-input"
                                    id="aadharfront"
                                  />
                                  <label
                                    class="custom-file-label"
                                    for="aadharfront"
                                    >Choose file</label
                                  >
                                </div>
                              </div>
                            </div>

                            <div class="form-group col-md-12">
                              <label class="control-label"> AAdhar Card (Back)</label>
                              <div class="input-group mb-2">
                                <div class="custom-file">
                                  <input
                                    type="file"
                                    class="custom-file-input"
                                    id="aadharback"
                                  />
                                  <label
                                    class="custom-file-label"
                                    for="aadharback"
                                    >Choose file</label
                                  >
                                </div>
                              </div>
                            </div>

                            <div class="form-group col-md-12">
                              <label class="control-label"> Pan Card</label>
                              <div class="input-group mb-2">
                                <div class="custom-file">
                                  <input
                                    type="file"
                                    class="custom-file-input"
                                    id="panimg"
                                  />
                                  <label
                                    class="custom-file-label"
                                    for="panimg"
                                    >Choose file</label
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                    </div>
                        <div class="row">
                            <div class="form-btn">
                                <a (click)="stepDown()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-left"></i> Back</button></a>
                            </div>
                            <div class="form-btn">

                                <a (click)="saveForms()"><button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Submit</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>
</div>
