
<nav class="navbar navbar-expand-md bg-white navbar-light">
    <div class="container">
        <a href="./" class="navbar-brand"><img src="https://aurigain.com/images/logon.jpeg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link " href="/">Home</a></li>
                <!-- Dropdown -->

                

                <li ngbDropdown class="nav-item dropdown">
                    <a ngbToggle class="nav-link dropdown-toggle" href="#" id="navbarFeatures" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products <i class="fa fa-angle-down"></i>
                    </a>
                    <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarFeatures">

                        <li ngbDropdownItem><a class="dropdown-item" href="https://aurigain.com/gold-loan"> Gold Loan</a></li>
                        <li ngbDropdownItem><a class="dropdown-item" href="https://aurigain.com/personal-loan"> Personal Loan</a>
                        </li>
                        <li ngbDropdownItem><a class="dropdown-item" href="https://aurigain.com/home-loan"> Home Loan</a></li>
                        <li ngbDropdownItem><a class="dropdown-item" href="https://aurigain.com/loan-against-property"> MSME
                                Loan</a></li>
                        <li><a class="dropdown-item" href="https://aurigain.com/vehicle-loan"> Vehicle Loan</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link " href="https://aurigain.com/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link " href="https://aurigain.com/faq">FAQ</a></li>
                <li class="nav-item"><a class="nav-link " href="https://aurigain.com/partner">Partner Us</a></li>
                <li class="nav-item"><a class="nav-link " href="https://aurigain.com/contact-us">Contact us</a></li>
                <li class="nav-item"><a class="nav-link " href="https://aurigain.com/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>


