<div class="layout-px-spacing h-100">
  <div class="row h-100" style="min-height: 100vh;">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="widget bg-white h-100">
            <div class="widget-header">
            <div
            class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
            <div>
              <nav class="custom-breadcrum">
                  <ol class="breadcrumb justify-content-center justify-content-sm-start" >
                      <li class="breadcrumb-item">
                      <a routerlink="/dashboard">Home</a>
                      </li>
                      <li class="breadcrumb-item">
                      <a routerLink="/dashboard/personal-leads"> Personal  Loan</a
                      >
                      </li>
                      <li aria-current="page" class="breadcrumb-item active">
                      Add Fresh Lead
                      </li>
                  </ol>
              </nav>
              <h1>Personal Loan &ndash; Fresh Lead</h1>

            </div>
            </div>
            </div>
            <div class="d-flex flex-md-row px-3 mt-4 flex-column-reverse">

            <div class="col-md-4">
              <ul id="progressbar">
                  <li class="active StepProgress-item" [ngClass]="{'active': currentStep >= 1}"><span class="span1">Personal Details</span></li>
                  <li class="StepProgress-item" [ngClass]="{'active': currentStep >= 2}"><span class="span1">KYC Details</span></li>
                  <li class="StepProgress-item" [ngClass]="{'active': currentStep >= 3}"><span class="span1">Bank Details</span></li>
                  <li class="StepProgress-item" [ngClass]="{'active': currentStep >= 4}"><span class="span1">Source Details</span></li>
                </ul>
            </div>

            <div class="main-container col-md-8">
                <div class="detail-div">
                    <div class="vertical-line personal-form" *ngIf="currentStep == 1">
                        <div class="form-content">
                            <form [formGroup]="personalDetails">
                                <div class="form-row">
                                  <div class="form-group col-md-4">
                                    <label for="inputFullName">Full Name</label>
                                    <input formControlName="name" type="text" class="form-control" placeholder="Full name">

                                    <ng-container *ngIf="personalDetails.get('name').invalid && personalDetails.get('name').touched" class="col-sm-3 col-form-label"></ng-container>
                                        <div *ngIf="personalDetails.get('name').invalid && personalDetails.get('name').touched" class="custom-invalid-feedback" style="margin-top: 5px;">
                                            <small class="text-danger" *ngIf="personalDetails.get('name').errors?.['required']">Enter Full Name</small>
                                        </div>
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputMobile">Mobile Number</label>
                                    <input type="number" formControlName="phoneNumber1" class="form-control" id="inputMobile" placeholder="Phone Number">
                                    <button class="btn btn-primary btn-sm mt-2 ml-5">Send OTP</button>
                                    <ng-container *ngIf="personalDetails.get('phoneNumber1').invalid && personalDetails.get('phoneNumber1').touched" class="col-sm-3 col-form-label"></ng-container>
                                    <div *ngIf="personalDetails.get('phoneNumber1').invalid && personalDetails.get('phoneNumber1').touched" class="custom-invalid-feedback" style="margin-top: 5px;">
                                        <small class="text-danger" *ngIf="personalDetails.get('phoneNumber1').errors?.['required']">Enter Mobile Number</small>
                                    </div>
                                  </div>
                                  <div class="form-group col-md-3">
                                    <label for="otp">Enter OTP</label>
                                    <input type="number" class="form-control" placeholder="OPT">
                                    <button class="btn btn-primary btn-sm mt-2 ml-4">Verify OTP</button>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="address">Address</label>
                                  <input type="text" class="form-control" placeholder="Enter Full Address">
                                </div>
                            </form>
                        </div>
                        <div class="form-btn">
                            <a (click)="savePersonalDetails()"><button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Next</button></a>
                        </div>
                    </div>
                </div>
                <div class="detail-div">
                  <div class="vertical-line personal-form" *ngIf="currentStep == 2">
                      <div class="form-content">
                          <form [formGroup]="kycDetailForm">
                              <div class="form-row">

                                  <div class="form-group col-md-4">
                                      <label for="inputbranch">Income</label>
                                      <input [class.is-invalid]="branch.invalid && branch.touched" type="number" class="form-control" placeholder="Income" formControlName="income">
                                      <div style="margin-left: 10px;" *ngIf="branch.invalid && branch.touched">
                                        <small *ngIf="branch.errors?.['required']" class="text-danger">Branch is required</small>
                                      </div>
                                  </div>

                                  <div class="form-group col-md-4">
                                      <label for="inputAppointment">Adhar Card</label>
                                      <input [class.is-invalid]="pinCode.invalid && pinCode.touched"
                                      formControlName="adharCard" placeholder="Adhar Card" type="number" class="form-control">

                                      <div style="margin-left: 10px;" *ngIf="pinCode.invalid && pinCode.touched">
                                        <small *ngIf="pinCode.errors?.['required']" class="text-danger">Adhar Card required</small>
                                      </div>
                                  </div>
                                  <div class="form-group col-md-4">
                                      <label for="inputAppointment">PAN Card </label>
                                      <input [class.is-invalid]="dateOfAppointment.invalid && dateOfAppointment.touched" formControlName="panCard" type="number" class="form-control" placeholder="PAN Card">

                                      <div style="margin-left: 10px;" *ngIf="dateOfAppointment.invalid && dateOfAppointment.touched">
                                        <small *ngIf="dateOfAppointment.errors?.['required']" class="text-danger">Date is required</small>
                                      </div>
                                  </div>



                              </div>
                          </form>
                      </div>
                      <div class="row">
                          <div class="form-btn">
                              <a (click)="stepDown()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-left"></i> Back</button></a>
                          </div>
                          <div class="form-btn">

                              <a (click)="stepUp()"><button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Next</button></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="detail-div">

                  <div class="vertical-line personal-form" *ngIf="currentStep == 3">
                      <div class="form-content">
                          <form [formGroup]="bankDetailForm">
                            <div class="form-row">
                              <div class="form-group col-md-4">
                                  <label for="inputState">Bank Account Number</label>
                                  <input [class.is-invalid]="loanAccountNumber.invalid && loanAccountNumber.touched" type="number" class="form-control" placeholder="Bank Account Number" formControlName="bankAccountNumber">
                                  <div style="margin-left: 10px;" *ngIf="loanAccountNumber.invalid && loanAccountNumber.touched">
                                    <small *ngIf="loanAccountNumber.errors?.['required']" class="text-danger">Bank Account Number is required</small>
                                  </div>
                              </div>
                              <div class="form-group col-md-4">
                                  <label for="inputState">IFSC Number</label>
                                  <input [class.is-invalid]="loanAmount.invalid && loanAmount.touched" type="text" class="form-control" placeholder="IFSC Number" formControlName="IFSC">
                                  <div style="margin-left: 10px;" *ngIf="loanAmount.invalid && loanAmount.touched">
                                    <small *ngIf="loanAmount.errors?.['required']" class="text-danger">IFSC Number is required</small>
                                </div>
                              </div>
                              <div class="form-group col-md-4">
                                  <label for="inputState">Branch Name</label>
                                  <input [class.is-invalid]="loanDate.invalid && loanDate.touched" type="date" class="form-control" placeholder="Branch Name" formControlName="branchName">
                                  <div style="margin-left: 10px;" *ngIf="loanDate.invalid && loanDate.touched">
                                    <small *ngIf="loanDate.errors?.['required']" class="text-danger">Loan Date is required</small>
                                </div>
                              </div>
                            </div>
                          </form>
                      </div>
                      <div class="row">
                          <div class="form-btn">
                              <a (click)="stepDown()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-left"></i> Back</button></a>
                          </div>
                          <div class="form-btn">
                              <a (click)="stepUp()"><button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Next</button></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="detail-div">

                  <div class="vertical-line personal-form" *ngIf="currentStep == 4">
                      <div class="form-content">
                          <form [formGroup]="sourceForm">
                            <div class="form-row">
                              <div class="form-group col-md-4">
                                  <label for="inputState">Source (Self/Agent)</label>
                                  <input [class.is-invalid]="loanAccountNumber.invalid && loanAccountNumber.touched" type="text" class="form-control" placeholder="Source" formControlName="source">
                                  <div style="margin-left: 10px;" *ngIf="loanAccountNumber.invalid && loanAccountNumber.touched">
                                    <small *ngIf="loanAccountNumber.errors?.['required']" class="text-danger">Bank Account Number is required</small>
                                  </div>
                              </div>
                              <div class="form-group col-md-4">
                                  <label for="inputState">Commissions Rate</label>
                                  <input [class.is-invalid]="loanAmount.invalid && loanAmount.touched" type="text" class="form-control" placeholder="Commissions Rate" formControlName="commissionRate">
                                  <div style="margin-left: 10px;" *ngIf="loanAmount.invalid && loanAmount.touched">
                                    <small *ngIf="loanAmount.errors?.['required']" class="text-danger">IFSC Number is required</small>
                                </div>
                              </div>
                            </div>
                          </form>
                      </div>
                      <div class="row">
                          <div class="form-btn">
                              <a (click)="stepDown()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-left"></i> Back</button></a>
                          </div>
                          <div class="form-btn">
                              <a (click)="stepUp()"><button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Submit</button></a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- <div class="new-lead">
  <div class="wrapper">
    <div id="lead">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="d-flex justify-content-between mt-2 back">
                        <div class="p-2">
                            <h3>Topic</h3>
                            <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Library</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Data</li>
                              </ol>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container ">
                    <div class="bg-white">
                        <form [formGroup]="personalLeadForm">
                            <div class="form-row">
                              <div class="form-group col-md-5 col-sm-12">
                                <label for="inputFullname">Full Name</label>
                                <input formControlName="name"
                                type="text" class="form-control" id="inputFullname" placeholder="Full Name">
                                <div class="valid-feedback">
                                  Enter Full Name
                                </div>
                              </div>
                              <div class="form-group col-md-5 col-sm-12">
                                <label for="inputMobilenumber">Mobile Number</label>
                                <input formControlName="phoneNumber1" type="text" class="form-control" id="inputMobilenumber" placeholder="Mobile Number" maxlength="10" minlength="10">
                                <div class="valid-feedback">
                                  Enter mobile number!
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="inputAddress1">Address Line 1</label>
                              <input formControlName="addressLine1" type="text" class="form-control" id="inputAddress1" placeholder="Address Line 1">
                            </div>

                            <div class="text-center mb-4">
                              <button type="submit" class="btn btn-primary mt-3">Save Application</button>
                              <button type="submit" class="btn btn-outline-danger mt-3 ml-3">Cancel</button>
                            </div>

                          </form>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>
</div> -->
