<div class="emi-section">
    <div class="page-header mt-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                </div>
            </div>
        </div>
    </div>
    <div class="list">
        <ol class="">
            <li><a href="https://aurigain.com">Home </a></li>
            <li class="slash">/</li>
            <li class="active text-dark">Calculate your loan emi</li>
        </ol>
    </div>
    <div class="container mb-5">
        
    </div>
</div>