
.bg-white{
    background-color: #fff;
}

.box{
    margin: 10px;
}

.breadcrumb{
    background-color: #fff;
}

.card{
    border-radius: 5px;
}

.hanging-card{
    position: absolute;
    background-color: #f7c41e;
    color: #fff;
    top: 0;
    right: 0;
    padding: 3px;
}


.box-end{
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 20px 0;
}

.internal-card {

    padding-top: 15px;

    p{
        border-bottom: 1px solid #d3def1;
        display: flex;
        justify-content: space-between;        
    }

    p:nth-child(4){
        border-bottom: none;

        span{
            color: blue;
        }
    }
}
.card-body{
    background-color: #e6e6e6;
}

.upper-card p{
    margin: 0;
}


.menu{


    button{
        border: none;
        background-color: transparent;
    }
    
    .dropdown-toggle::after{
        content: none;
    }
}

// .menu{
//     position: relative;
//     display: inline-block;
//     float: right;

//     i:hover {
//         cursor: pointer;
//     }
// }


// .menu:hover .dropdown-menu {
//     display: block;

// }

// .menu:hover .menu-button{
//     background-color: transparent;
// } 