/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
    background-color: #f4f6f8!important;
  }


  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }
  
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
