.topNavbarDiv{
   /* top nav */
  .container-fluid{
  background-color: #15549a;
  }
  .font-size a{
    color: #83bcfa;
    text-decoration: none; 
    font-size: small; 
  }
  
  .font-size a:hover{
    color: white;
    text-decoration: none;  
  }
  /* top nav end */
  
}
