<div class="layout-px-spacing">
  <div class="row h-100" style="min-height: 100vh;">
      <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="widget bg-white pb-4">
              <div class="widget-header">
                  <div
                      class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
                      <div>
                          <h3>Accounts Maker Panel Deatils</h3>
                          <nav class="custom-breadcrum">
                              <ol class="breadcrumb justify-content-center justify-content-sm-start" >
                                  <li class="breadcrumb-item">
                                  <a routerlink="../dashboard">Home</a>
                                  </li>
                                  <li class="breadcrumb-item">
                                  <a routerLink="../../">Account Checker Panel</a
                                  >
                                  </li>
                                  <li aria-current="page" class="breadcrumb-item active">
                                  Account Checker Panel &ndash; Details
                                  </li>
                              </ol>
                          </nav>
                      </div>
                  </div>
              </div>
              <div class="mt-5 box">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box2">
                        <h5>
                            <!-- <img src="" alt="personal"> -->
                            Personal Details
                        </h5>
                    </div>
                    <div class="row">
                        <div class="col-md-8 pl-3">
                          <table class="table table-borderless">
                            <tbody class="table-custom">
                                <tr>
                                    <td><strong>Mode of Transfer</strong></td>
                                    <td>Mode of Transfer</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="mt-5 box">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box2">
                        <h5>
                            <!-- <img src="" alt="personal"> -->
                            Bank Details
                        </h5>
                    </div>
                        <div class="row">
                          <div class="col-md-8 pl-3">
                            <table class="table table-borderless">
                              <tbody class="table-custom">
                                  <tr>
                                      <td><strong>IFSC Code</strong></td>
                                      <td>IFSC Code</td>
                                  </tr>
                                   <tr>
                                      <td><strong>Bank Name</strong></td>
                                      <td>Bank Name</td>
                                  </tr>
                                   <tr>
                                      <td><strong>Branch Name</strong></td>
                                      <td>Branch Name</td>
                                  </tr>
                                   <tr>
                                      <td><strong>Branch Address</strong></td>
                                      <td>Branch Address</td>
                                  </tr>
                                   <tr>
                                      <td><strong>Customer Name</strong></td>
                                      <td>Customer Name</td>
                                  </tr>
                                   <tr>
                                      <td><strong>Account Number</strong></td>
                                      <td>Account Number</td>
                                  </tr>
                              </tbody>
                          </table>
                          </div>
                          <div class="col-md-4">
                            <!-- <div class="text-center py-3"><a href="#" data-toggle="modal" aria-label="screens" data-target="#mScreenshot">
                              <i class="fa-solid fa-circle-plus fa-3x position-absolute bg-white shadow"></i>
                            <img width="250" height="250" src="https://thispersondoesnotexist.com/image" class="float-right mr-3 mb-3" id="#mScreenshot" alt="demoImage">
                            </a></div> -->
                            <p class="text-center py-3"><a href="#" data-toggle="modal" aria-label="screens" data-target="#mScreenshot">
                              <i class="fa-solid fa-circle-plus fa-2x position-absolute bg-white shadow"></i>
                              <img src="https://thispersondoesnotexist.com/image" width="250" height="250" alt="bank details" class="img-fluid img-thumbnail lazyload"></a></p>

                          </div>
                        </div>

                </div>
            </div>
            <div class="mt-5">
              <div class="form-group">
                <div class="row gender-row">
                  <div class="col-md-6 text-center pl-4">
                    <strong class="pr-5">Status</strong>
                  <label  class="radio-inline pr-5">
                    <input type="radio" value="ok" name="name" class="mr-2" checked>Ok
                  </label>
                  <label  class="radio-inline pr-5">
                    <input type="radio" value="notOk" class="mr-2" name="name" >Not Ok
                  </label>
                  </div>
                  <div class="col-md-3 text-center">
                    <button class="btn btn-primary">Add Remark</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-5 text-center">
              <button class="btn btn-primary mr-4">Save & Submit</button>
              <button class="btn btn-outline-primary">Cancel</button>
            </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="mScreenshot">
    <div class="modal-dialog modal-lg">
    <div class="modal-content" style="top:50px;">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let img of image?.url; let i as index">
        <div class="modal-header">
          <p>Detail of Image comes here...</p>
          <button style="z-index: 10;" type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <img [src]="img" alt="Random first slide" class="img-fluid w-100">
        </div>
      </ng-template>
    </ngb-carousel>

    </div>
    </div>
  </div>
</div>
