<div class="contact-us">
    <div class="page-header6">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="list">
                        <ol class="">
                            <li><a href="https://aurigain.com">Home </a></li>
                            <li class="slash">/</li>
                            <li class="active text-white">CONTACT US</li>
                        </ol>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    
    
    
    <div class="contact">
        <div class="container mt-3 mb-5 mt30">
            <div class="row bgcolor justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                    <div class="col-xl-12 col-lg-12 col-sm-12 col-12 text-center mt-3">
                        <h1>Get In Touch</h1>
                        <p>Reach out to us & we will respond as soon as we can.</p>
                    </div>
                    <form method="POST" action="https://aurigain.com/login">
                        <div class="form-row">
                            <div class="form-group col-md-6">
    
                                <input type="text" class="form-control" id="inputName" placeholder="Name" value=""
                                    required>
                            </div>
                            <div class="form-group col-md-6">
    
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email" value=""
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
    
                            <input type="text" class="form-control" id="inputphone" placeholder="Phone" maxlength="12"
                                value="" required>
                        </div>
                        <div class="input-group mb-3">
                            
                            <select class="custom-select" id="inputGroupSelect01">
                              <option selected>Select Query</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="form-group">
    
                            <textarea type="text" class="form-control" rows="7" id="inputMessage" placeholder="Message"
                                value="" required></textarea>
                        </div>
    
                        <div class="form-group row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-lg btn-primary">Submit your query</button>
    
                            </div>
                        </div>
    
                    </form>
                </div>
    
    
    
    
                <div class="container loan">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="">
                                <!-- section title start-->
                                <h1>We are here to help you</h1>
                                <p class="lead">Feel free to reach out to us by any of the below mentioned ways.</p>
                            </div>
    
                        </div>
                    </div>
                </div>
                <!-- help section end -->
                <div class="content icon-color">
                    <div class="container">
                        <div class="row justify-content-center mb-5">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card-shadow bottom-content mt-4">
                                    <div class="card-body-fluid icon-color">
                                        <div class="pt-5 pb-3 text-center">
                                            <i class="fas fa-briefcase"></i>
                                        </div>
                                        <div class="text-center title pt-3 mb-4">
                                            <h2 class="capital-title">BRANCH OFFICE</h2>
                                            <p>307, Ocus Quantum, Sector 51, Gurugram, Haryana <br> 
                                                Pin: 122001
                                            </p>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card-shadow bottom-content mt-4">
                                    <div class="card-body-fluid">
                                        <div class="pt-5 pb-3 text-center">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <div class="text-center title pt-3 mb-4 bottom-content">
                                            <h2 class="capital-title">CALL US AT </h2>
    
                                            <h2 class="text-big pt-3">
                                               <a href="javascript:void(0)"> +91 8010277671</a></h2>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card-shadow bottom-content mt-4">
                                    <div class="card-body-fluid">
                                        <div class="pt-5 pb-3 text-center">
                                            <i class="fas fa-envelope-open-text"></i>
                                        </div>
                                        <div class="text-center title pt-3 mb-4 bottom-content">
                                            <h2 class="capital-title">MAIL US</h2>
                                            <a href="javascript:void(0)">info@aurigain.com</a>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
    
                    </div>
    
                </div>
    
    
            </div>
            <!-- map -->
            <div class="map">
                <div class="map" id="googleMap"><iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.5330325243895!2d77.0861363145564!3d28.493606497106892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1939aa6004ef%3A0x3240c4c9cab262ab!2sCyber%20City%2C%20DLF%20Tower%208th%20Rd%2C%20DLF%20Cyber%20City%2C%20DLF%20Phase%202%2C%20Sector%2024%2C%20Gurugram%2C%20Haryana%20122002!5e0!3m2!1sen!2sin!4v1622528031447!5m2!1sen!2sin"
                        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
            </div>
        </div>
    </div>
</div>

