    
    
    <!-- content start -->
    <div class="faq">  
        <!-- header image -->
    <div class="page-header9">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="list">
                        <ol class="">
                            <li><a href="https://aurigain.com">Home </a></li>
                            <li class="slash">/</li>
                            <li class="active text-white">faq</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </div> 
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="wrapper-content bg-white p-3 p-lg-5">
                        <div class="">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="section-title  mb30">
                                        <h1>General Questions</h1>
                                    </div>
                                </div>
                            </div>
                            <div id="accordion" class="mt-4">
                                <div class="card">
                                  <div class="card-header ">
                                    <a class="card-link " data-toggle="collapse" href="#collapseOne">
                                        <i class="fa fa-plus-circle mr-1 "></i>
                                        How much can I borrow?
                                    </a>
                                  </div>
                                  <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body">
                                        The amount you can borrow depends upon several factors including your annual income, any outstanding loans, CIBIL Score, ability to pay back.
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                        <i class="fa fa-plus-circle mr-1 "></i>
                                        Can I pay off my loan early?
                                  </a>
                                  </div>
                                  <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        Almost all the products have a provision for early payments, some of the banks ask for a pre-payment fee.
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                        <i class="fa fa-plus-circle mr-1 "></i>
                                        Do you offering refinancing?
                                    </a>
                                  </div>
                                  <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        Yes, we do offer refinancing products for different loan categories. To know more details pls reachout to one of our consultants.
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                      <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                                        <i class="fa fa-plus-circle mr-1 "></i>
                                                        How should i apply?
                                      </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                                      <div class="card-body">
                                        You may apply using multiple ways.
                                                    <br>
                                                    1. You can give us a call at +91 8010277671 <br>
                                                    2. Write to us at info@aurigain.com     <br>
                                                    3. Apply online through our website
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
    
    
    
                    </div>
                </div>
            </div>
        </div>
    </div>