.loan-application{
    .top-heading{
        text-transform: uppercase;
    }
    .sub-heading{
        text-transform: uppercase;
        font-size: large;
    }
    
    .text-size{
        font-size: 25px;
        color: black;
        text-decoration: none;
        border: none;
    }
    
}