<div class="loan-application">
    <div class="container bg-white mt-3 mb-5">
        <div class="row">
            <div class="container mt-5">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="top-heading"> view repayment details</h3>
                </div>
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <p>
                                <span class="sub-heading font-weight-bold">Contract Number</span>
                                <span class="pl-1 pr-1">-</span>
                                <span>538769</span>
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <p>
                                <span class="sub-heading font-weight-bold">Loan type</span>
                                <span class="pl-1 pr-1">-</span>
                                <span class="sub-heading">gold loan</span>
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <p>
                                <span class="sub-heading font-weight-bold">Approval date</span>
                                <span class="pl-1 pr-1">-</span>
                                <span>25/09/2021 </span>
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link  text-size top-heading"
                                                    data-toggle="collapse" data-target="#collapseOne"
                                                    aria-expanded="true" aria-controls="collapseOne"><i
                                                        class="fas fa-caret-down"></i>
                                                    repayment schedule
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Month</th>
                                                                <th class="text-lg-left text-md-left text-sm-left">
                                                                    Installment</th>
                                                                <th class="text-lg-right text-md-right text-sm-left">
                                                                    Interest</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    Jan 25, 2020
                                                                </td>
                                                                <td class="text-lg-left text-md-left text-sm-left">
                                                                    <span class="font-weight-bold">₹</span> 5,60,000
                                                                </td>
                                                                <td class="text-lg-right text-md-right text-sm-left">
                                                                    <span class="font-weight-bold">₹</span> 12,000
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Jan 25, 2020
                                                                </td>
                                                                <td class="text-lg-left text-md-left text-sm-left">
                                                                    <span class="font-weight-bold">₹</span> 5,60,000
                                                                </td>
                                                                <td class="text-lg-right text-md-right text-sm-left">
                                                                    <span class="font-weight-bold">₹</span> 12,000
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Jan 25, 2020
                                                                </td>
                                                                <td class="text-lg-left text-md-left text-sm-left">
                                                                    <span class="font-weight-bold">₹</span> 5,60,000
                                                                </td>
                                                                <td class="text-lg-right text-md-right text-sm-left">
                                                                    <span class="font-weight-bold">₹</span> 12,000
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Jan 25, 2020
                                                                </td>
                                                                <td class="text-lg-left text-md-left text-sm-left">
                                                                    <span class="font-weight-bold">₹</span> 5,60,000
                                                                </td>
                                                                <td class="text-lg-right text-md-right text-sm-left">
                                                                    <span class="font-weight-bold">₹</span> 12,000
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-row-reverse">
                                <p>pagination</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>