
<div class="box bg-white h-100">
    <div class="widget-header">
        <div class="row ">
        <div class="mt-4 ml-5">
          <nav>
              <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                  <a routerlink="/dashboard" href="/dashboard">Home</a>
                  </li>
                  <li class="breadcrumb-item">
                  <a href="javascript:void(0)">Agent Mapping</a>
                  </li>
                  <li aria-current="page" class="breadcrumb-item active">
                    Commissions Setting
                  </li>
              </ol>
          </nav>
          <h3 class="pl-3 mb-3">COMMISSION SETTING</h3>
            <form [formGroup]="selectAgentForm" (ngSubmit)="submitCommissionSetting()">
                <div class="form-group">
                    <label for="inputAgent">Select Agent</label>
                    <select [class.is-invalid]="agent.invalid && agent.touched" id="inputState" class="form-control" formControlName="selectAgent" >
                        <option value="" selected>Select Supervisor</option>
                        <option *ngFor="let supervisor of supervisors; let i = index" [value]="supervisor">{{supervisor | titlecase}}</option>
                    </select>
                    <div style="margin-left: 10px;" *ngIf="agent.invalid && agent.touched">
                        <small *ngIf="agent.errors?.['required']" class="text-danger">Agent is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAgent">Select Commissions Type</label>
                    <select [class.is-invalid]="commissionType.invalid && commissionType.touched" id="inputState" class="form-control" formControlName="selectCommissionType" >
                        <option value="" selected>Select Supervisor</option>
                        <option *ngFor="let supervisor of supervisors; let i = index" [value]="supervisor">{{supervisor | titlecase}}</option>
                    </select>
                    <div style="margin-left: 10px;" *ngIf="commissionType.invalid && commissionType.touched">
                        <small *ngIf="commissionType.errors?.['required']" class="text-danger">Commission Type is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAgent">Commissions Percentage</label>
                    <select [class.is-invalid]="commissionPercentage.invalid && commissionPercentage.touched" id="inputState" class="form-control" formControlName="commissionPercentage" >
                        <option value="" selected>Select Supervisor</option>
                        <option *ngFor="let supervisor of supervisors; let i = index" [value]="supervisor">{{supervisor | titlecase}}</option>
                    </select>
                    <div style="margin-left: 10px;" *ngIf="commissionPercentage.invalid && commissionPercentage.touched">
                        <small *ngIf="commissionPercentage.errors?.['required']" class="text-danger">Commission Percentage is required</small>
                    </div>
                </div>

                <button class="btn btn-secondary mr-3">CANCEL</button>
                <button class="btn btn-primary">SUBMIT</button>
            </form>
        </div>
        </div>
    </div>   
</div>