// #content{
// 	width: 100%;
// 	padding: 20px;
// 	min-height: 100vh;
// 	transition: all 0.3s;
//     margin-left: 240px;
// }

.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
    margin-left: 240px;
}

#lead{
    .bg-secondary{
         background-color: white!important;
        border-radius: 10px;
    }


    
    
    
	.btn-dark {
		color: #fff!important;
		background-color: #002767;
		border-color: #002767;
		box-shadow: 0 10px 20px -10px #3b3f5c;
	}





    }