<div class="re-set mb-5">
  <div class="container mt30">
      <div class="row">
          <div class="col-xl-10 offset-xl-2 col-lg-10 offset-lg-2 col-md-12 col-sm-12 col-12">
            <div *ngIf="isForgotPasswordForm">
              <div class="col-xl-9 col-lg-6 col-sm-10 col-12 mt-5">
                <h4 class="">Reset Password</h4>
              </div>
              <form>
                <div class="form-group row mt-5">
                  <label for="inputEmail3" class="col-sm-2 col-form-label text-right">E-Mail Address</label>
                  <div class="col-xl-6 col-lg-6 col-sm-10 col-12">
                          <input [(ngModel)]="email"  
                          name="email" type="email" class="form-control" id="inputEmail3" placeholder="Email" value=""   required (click)="resetValidations()">
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-sm-10 offset-sm-2">
                          <button type="submit" class="btn btn-primary" (click)="resetPassword()">Send password reset link</button>
                      </div>
                  </div>
                  <div class="form-group alert alert-success"  style="margin-top: 20px; margin-left: 0px; max-width: 300px;" *ngIf="successMsg">
                    {{ successMsg }}
                  </div>
                <div class="form-group alert alert-danger" style="margin-top: 20px; margin-left: 0px; max-width: 300px;" *ngIf="errors">
                    {{ errors }}
                </div>
              </form>
            </div>
            <div *ngIf="isOtpForm">
              <form>
                  <div class="form-group">
                      <input [(ngModel)]="otp" name="otp" id="otpInput" type="text"class="form-control mb-3" placeholder="Enter the OTP">
                      <input [(ngModel)]="password" name="password" id="passwordInput" type="password"class="form-control mb-3" placeholder="Enter new password">
                      <button (click)="submitPasswordOTP()"  id="emailSubmit" type="button" class="btn">Submit</button>
                    </div>
                    <div class="form-group alert alert-success"  style="margin-top: 20px; margin-left: 0px; max-width: 300px;" *ngIf="successMsg">
                      {{ successMsg }}
                    </div>
                    <div class="form-group alert alert-danger" style="margin-top: 20px; margin-left: 0px; max-width: 300px;" *ngIf="errors">
                      {{ errors }}
                    </div>
              </form>
          </div>
          </div>
      </div>
  </div>
</div>
